<!DOCTYPE html>
<html class="no-js {{ page.class }}" lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<!-- In loving memory of Albert Phillips -->
	<title>{% if page_title %}{{ page_title }} | {% endif %}{{ site.site_name }}</title>
	<meta name="description" content="framework, sass">
	<meta name="keywords" content="A SASS/Compass framework">

	<!-- Mobile -->
	{% include mobile.html %}
	
	<!-- CSS -->
	<link href="assets/css/master.css" rel="stylesheet">
	
	<!-- JavaScript -->
	<script src="assets/js/modernizr.js"></script>
	<script type="text/javascript">
	  (function() {
	    var config = {
	      kitId: 'yol4bnj',
	      scriptTimeout: 3000
	    };
	    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
	  })();
	</script>

	<!-- Other -->
	{% include other.html %}
	
	<!-- IE -->
	{% include ie.html %}

</head>
<body>

	<div class="site">
	
		<header role="banner" class="site-header">
			<a href="/" class="site-logo">twist</a>
      <h2 class="site-subtitle">A bunch of flexible mixins, using Sass/Compass.</h2>
      <nav role="navigation" class="site-navigation">
				<a href="#buttons" title="Back to the top effectively and all button styles">Buttons</a><a href="#alerts"  title="Alert styles">Alerts</a><a href="#forms" title="Form styles">Forms</a><a href="#table" title="Table styles">Table</a><a href="#typography" title="Heading styles, etc">Typography</a><a href="#grid" title="6 column grid">Grid</a><a href="https://github.com/stevemckinney/twist">View the Project on GitHub</a>
			</nav>
		</header>
		<section role="main" class="site-main">