<!DOCTYPE html>
<html class="no-js {{ page.class }}" lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<!-- In loving memory of Albert Phillips -->
	<title>{% if page_title %}{{ page_title }} | {% endif %}{{ site.site_name }}</title>
	<meta name="description" content="framework, sass">
	<meta name="keywords" content="A SASS/Compass framework">

	<!-- Mobile -->
	{% include mobile.html %}
	
	<!-- CSS -->
	<link href="//cloud.typography.com/7828432/695482/css/fonts.css" rel="stylesheet">
	<link href="css/master.css" rel="stylesheet">
	
	<!-- JavaScript -->
	<script src="js/modernizr.js"></script>

	<!-- Other -->
	{% include other.html %}
	
	<!-- IE -->
	{% include ie.html %}

</head>
<body>

	<div class="site">
	
		<header role="banner" class="site-header">
			<a href="/" class="site-logo">twist</a>
      <h2 class="site-subtitle">A bunch of flexible mixins, using Sass/Compass.</h2>
      <nav role="navigation" class="site-navigation">
				<a href="#buttons" title="Back to the top effectively and all button styles">Buttons</a><a href="#alerts"  title="Alert styles">Alerts</a><a href="#forms" title="Form styles">Forms</a><a href="#table" title="Table styles">Table</a><a href="#typography" title="Heading styles, etc">Typography</a><a href="#grid" title="6 column grid">Grid</a><a href="https://github.com/stevemckinney/twist">View the Project on GitHub</a>
			</nav>
		</header>
		<section role="main" class="site-main">