.grid {
	letter-spacing:-.31em;
	*letter-spacing:normal;
	*word-spacing:-.43em;
	text-rendering:optimizespeed;
}

.opera-only :-o-prefocus,.grid {
	word-spacing:-.43em;
}

.grid {
	display:inline-block;
	zoom:1;
	*display:inline;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto;
}

.grid-1,.grid-1-2,.grid-1-3,.grid-2-3,.grid-1-4,.grid-3-4,.grid-1-5,.grid-2-5,.grid-3-5,.grid-4-5,.grid-1-6,.grid-5-6,.grid-1-7,.grid-2-7,.grid-3-7,.grid-4-7,.grid-5-7,.grid-6-7,.grid-1-8,.grid-3-8,.grid-5-8,.grid-7-8,.grid-1-9,.grid-2-9,.grid-4-9,.grid-5-9,.grid-6-9,.grid-7-9,.grid-8-9,.grid-1-10,.grid-3-10,.grid-7-10,.grid-9-10,.grid-1-11,.grid-2-11,.grid-3-11,.grid-4-11,.grid-5-11,.grid-6-11,.grid-7-11,.grid-8-11,.grid-9-11,.grid-10-11,.grid-1-12,.grid-5-12,.grid-7-12,.grid-9-12,.grid-11-12 {
	display:inline-block;
	zoom:1;
	*display:inline;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	text-rendering:auto;
}

.grid-1 {
	display:block;
}

.grid-1-2 {
	width:50%;
}

.gridoffset-1-2 {
	margin-left:50%;
}

.grid-1-3 {
	width:33.33333%;
}

.gridoffset-1-3 {
	margin-left:33.33333%;
}

.grid-2-3 {
	width:66.66667%;
}

.gridoffset-2-3 {
	margin-left:66.66667%;
}

.grid-1-4 {
	width:25%;
}

.gridoffset-1-4 {
	margin-left:25%;
}

.grid-3-4 {
	width:75%;
}

.gridoffset-3-4 {
	margin-left:75%;
}

.grid-1-5 {
	width:20%;
}

.gridoffset-1-5 {
	margin-left:20%;
}

.grid-2-5 {
	width:40%;
}

.gridoffset-2-5 {
	margin-left:40%;
}

.grid-3-5 {
	width:60%;
}

.gridoffset-3-5 {
	margin-left:60%;
}

.grid-4-5 {
	width:80%;
}

.gridoffset-4-5 {
	margin-left:80%;
}

.grid-1-6 {
	width:16.66667%;
}

.gridoffset-1-6 {
	margin-left:16.66667%;
}

.grid-5-6 {
	width:83.33333%;
}

.gridoffset-5-6 {
	margin-left:83.33333%;
}

.grid-1-7 {
	width:14.28571%;
}

.gridoffset-1-7 {
	margin-left:14.28571%;
}

.grid-2-7 {
	width:28.57143%;
}

.gridoffset-2-7 {
	margin-left:28.57143%;
}

.grid-3-7 {
	width:42.85714%;
}

.gridoffset-3-7 {
	margin-left:42.85714%;
}

.grid-4-7 {
	width:57.14286%;
}

.gridoffset-4-7 {
	margin-left:57.14286%;
}

.grid-5-7 {
	width:71.42857%;
}

.gridoffset-5-7 {
	margin-left:71.42857%;
}

.grid-6-7 {
	width:85.71429%;
}

.gridoffset-6-7 {
	margin-left:85.71429%;
}

.grid-1-8 {
	width:12.5%;
}

.gridoffset-1-8 {
	margin-left:12.5%;
}

.grid-3-8 {
	width:37.5%;
}

.gridoffset-3-8 {
	margin-left:37.5%;
}

.grid-5-8 {
	width:62.5%;
}

.gridoffset-5-8 {
	margin-left:62.5%;
}

.grid-7-8 {
	width:87.5%;
}

.gridoffset-7-8 {
	margin-left:87.5%;
}

.grid-1-9 {
	width:11.11111%;
}

.gridoffset-1-9 {
	margin-left:11.11111%;
}

.grid-2-9 {
	width:22.22222%;
}

.gridoffset-2-9 {
	margin-left:22.22222%;
}

.grid-4-9 {
	width:44.44444%;
}

.gridoffset-4-9 {
	margin-left:44.44444%;
}

.grid-5-9 {
	width:55.55556%;
}

.gridoffset-5-9 {
	margin-left:55.55556%;
}

.grid-6-9 {
	width:66.66667%;
}

.gridoffset-6-9 {
	margin-left:66.66667%;
}

.grid-7-9 {
	width:77.77778%;
}

.gridoffset-7-9 {
	margin-left:77.77778%;
}

.grid-8-9 {
	width:88.88889%;
}

.gridoffset-8-9 {
	margin-left:88.88889%;
}

.grid-1-10 {
	width:10%;
}

.gridoffset-1-10 {
	margin-left:10%;
}

.grid-3-10 {
	width:30%;
}

.gridoffset-3-10 {
	margin-left:30%;
}

.grid-7-10 {
	width:70%;
}

.gridoffset-7-10 {
	margin-left:70%;
}

.grid-9-10 {
	width:90%;
}

.gridoffset-9-10 {
	margin-left:90%;
}

.grid-1-11 {
	width:9.09091%;
}

.gridoffset-1-11 {
	margin-left:9.09091%;
}

.grid-2-11 {
	width:18.18182%;
}

.gridoffset-2-11 {
	margin-left:18.18182%;
}

.grid-3-11 {
	width:27.27273%;
}

.gridoffset-3-11 {
	margin-left:27.27273%;
}

.grid-4-11 {
	width:36.36364%;
}

.gridoffset-4-11 {
	margin-left:36.36364%;
}

.grid-5-11 {
	width:45.45455%;
}

.gridoffset-5-11 {
	margin-left:45.45455%;
}

.grid-6-11 {
	width:54.54545%;
}

.gridoffset-6-11 {
	margin-left:54.54545%;
}

.grid-7-11 {
	width:63.63636%;
}

.gridoffset-7-11 {
	margin-left:63.63636%;
}

.grid-8-11 {
	width:72.72727%;
}

.gridoffset-8-11 {
	margin-left:72.72727%;
}

.grid-9-11 {
	width:81.81818%;
}

.gridoffset-9-11 {
	margin-left:81.81818%;
}

.grid-10-11 {
	width:90.90909%;
}

.gridoffset-10-11 {
	margin-left:90.90909%;
}

.grid-1-12 {
	width:8.33333%;
}

.gridoffset-1-12 {
	margin-left:8.33333%;
}

.grid-5-12 {
	width:41.66667%;
}

.gridoffset-5-12 {
	margin-left:41.66667%;
}

.grid-7-12 {
	width:58.33333%;
}

.gridoffset-7-12 {
	margin-left:58.33333%;
}

.grid-9-12 {
	width:75%;
}

.gridoffset-9-12 {
	margin-left:75%;
}

.grid-11-12 {
	width:91.66667%;
}

.gridoffset-11-12 {
	margin-left:91.66667%;
}

.grid-r {
	letter-spacing:-.31em;
	*letter-spacing:normal;
	word-spacing:-.43em;
}

.opera-only :-o-prefocus,.grid-r {
	word-spacing:-.43em;
}

.grid-r img {
	max-width:100%;
}

@media (min-width:980px) {
	.gridvisible-phone {
		display:none;
	}
	
	.gridvisible-tablet {
		display:none;
	}
	
	.gridvisible-desktop {
	}
	
	.gridhidden-phone {
	}
	
	.gridhidden-tablet {
	}
	
	.gridhidden-desktop {
		display:none;
	}
}

@media (max-width:480px) {
	.grid-r > [class ^= grid] {
		width:100%;
	}
}

@media (max-width:767px) {
	.grid-r > [class ^= grid] {
		width:100%;
	}
	
	.gridvisible-phone {
	}
	
	.gridhidden-phone {
		display:none;
	}
	
	.gridhidden-desktop {
	}
	
	.gridvisible-desktop {
		display:none;
	}
}

@media (min-width:768px) and (max-width:979px) {
	.gridvisible-tablet {
	}
	
	.gridhidden-tablet {
		display:none;
	}
	
	.gridhidden-desktop {
	}
	
	.gridvisible-desktop {
		display:none;
	}
}