<form action="#">
	<fieldset class="field-container field-options">
		<legend class="field-legend">Checkbox <abbr title="Required">*</abbr></legend>
		<label class="field-checkbox" for="checkbox1"><input class="input-checkbox" id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label>
		<label class="field-checkbox" for="checkbox2"><input class="input-checkbox" id="checkbox2" name="checkbox" type="checkbox"> Choice B</label>
		<label class="field-checkbox" for="checkbox3"><input class="input-checkbox" id="checkbox3" name="checkbox" type="checkbox"> Choice C</label>
	</fieldset>
</form>