<form class="form" action="#">
    <fieldset class="field-container field-options">
        <legend>Radio</legend>
            <label class="field-radio" for="radio1"><input class="input-radio" id="radio1" name="radio" type="radio" class="radio" checked="checked"> Option 1</label>
            <label class="field-radio" for="radio2"><input class="input-radio" id="radio2" name="radio" type="radio" class="radio"> Option 2</label>
            <label class="field-radio" for="radio3"><input class="input-radio" id="radio3" name="radio" type="radio" class="radio"> Option 3</label>
    </fieldset>
</form>