// Override variables from import/_base.scss here
// General site variables
// ---------------------------
$sans: "ff-dagny-web-pro", sans-serif !default;
$serif: "utopia-std-display", serif !default;
$monospace: Menlo, Monaco, "Courier New", monospace !default;
$icons: "SSStandard" !default;
$heading: $sans !default;
$body: $sans !default;
$form: $sans !default;
$element: $sans !default;

// Color
// ---------------------------

// Misc
// ---------------------------
$debug-mode: false;
$default-transition-duration: .2s;

// Stop various browser support
// ---------------------------
$experimental-support-for-khtml: false;
$experimental-support-for-opera: false;
$support-for-original-webkit-gradients: false;
$legacy-support-for-mozilla: false;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;