// Better/flexible media queries, with old IE fallback 
// see: https://github.com/jakearchibald/sass-ie
// ---------------------------
$old-ie: true;
$fix-mqs: 48em;

@import "import/framework", "master";

// IE specific fixes
// ---------------------------
html {
	font-family: "d"; }