@import "imports";

$total-cols         : 24;
$col-width          : 6em;
$gutter-width       : 2em;
$side-gutter-width  : $gutter-width;

/* 
	Base stucture
---------------------------------------------------------------------- */
html, body {
	font: #{$normal_size}/#{$base_line_height} $serif;
	color: $primary; }
body {
	@extend .transition;
	@include container;
	@include susy-grid-background; 
	//@include baseline-grid-background(12px, fade-out(#f00, 0.9));
	background: saturate(lighten(#948C75, 45%), 50%);
}

.container {
	@include respond-to(tablet) {
		@include full;
		@include pad(2,2); } }

[role="banner"] {
	@include container;
	@include pie-clearfix;
	position: relative;
	padding: 84px 0 24px;
	margin: 0 0 24px;
	border-bottom: 1px solid fade-out($primary, 0.9);
	@include box-shadow(0 1px 0 $white);
	h1 {
		@include columns(3,9);
		line-height: 1;
		margin: 0; } 
}
[role="navigation"] {
	@include pie-clearfix;
	width: 70%;
	text-align: right;
	position: absolute;
	right: 0;
	padding: 12px 0 0;
	ul {
		@include pie-clearfix;
		@include no_mp; }
	a {
		float: left;
		@include button_base;
		color: $white;
			//@include button($secondary, #fff, darken($secondary, 20%));
			}
	@include respond-to(tablet) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		@include notice($secondary, #fff, darken($secondary, 20%), $radius: 0, $size: small); }
}

[role="banner"] img {
	&:hover, &:focus {
		opacity: .75;
	}
}

/* header ---------------------- */
[role="banner"] {}

/* section ---------------------- */
[role="region"] {
	padding: 0 0 2em;
	margin: 0 0 2em;
	border-bottom: 1px solid fade-out($primary, 0.9);
	@include box-shadow(0 1px 0 $white);
	width: $whole;
	&:last-child {
		margin: 0;
		padding: 0;
		border: none;
	}
}
[role="main"] {
	@extend .no_mp; }
	
/* nav ---------------------- */
[role="navigation"] {
	ul {
		@extend .no_mp;
	}
	li {
		@include inline-block;
	}
	a {
		@include inline-block;
		-webkit-tap-highlight-color: $primary;
	}
}
/* article ---------------------- */
[role="article"] {
	&:last-child {
	}
}
/* div ---------------------- */
div {}

/* aside ---------------------- */
[role="complementary"] {
}
/* footer ---------------------- */
[role="contentinfo"] {font-size: $base_font_size; padding: $line*3 auto auto; }


/* 
	Typography & links
---------------------------------------------------------------------- */
a {
	text-decoration: none; 
	color: $secondary;
	@extend .transition;
	&:hover, &:focus, .hover {
		color: $primary;
	}	
}
@import "styles/_typography.scss";

p, li {
	@include hyphens(auto); }

/* pre/code ---------------------- */
pre {
	@extend .n_subtle;
	@extend .margin;
	font: 16px/#{$base_line_height} $monospace;
	border: 1px solid #ccc;
	@include box-shadow(inset 0 1px 3px fade-out($black, 0.9), 0 1px 0 #fff);
	code {
		display: block; padding: 5px;
	}
}

/* blockquote ---------------------- */
blockquote {
	padding: 0 0 0 56px;
	position: relative;
	font: #{$normal_size}/#{$base_line_height} $serif;
	@extend .n_subtle;
	@extend .rounded;
	p {position: relative; z-index: 1;}
	&:before {
		content:'“';
		color: fade-out($primary, 0.8);
		font: 900 180px/1 $serif;
		text-shadow: 0 1px 0 #fff;
		position: absolute;
		top: -32px;
		left: -20px;
		z-index: 0;
	}
}
/*
section > p:first-letter { 
		font-size: 80px;
		font-weight: 400;
		text-transform: capitalize;
		float: left;
		padding: 18px 0 0 0;
		margin-left: -56px; }
section > p:first-child {
	margin-left: 48px;
	display: block; }
*/
/* 
	Lists
---------------------------------------------------------------------- */
ul, li {}
[role="contentinfo"] {
	ul {
		@extend .no_mp; }
	li {
		display: inline-block; }
}
dt {font: 700 12px/1 $sans; text-transform: uppercase; letter-spacing: 2px;}
dd {
	&:last-child {
		margin: 0;	
	}
}
.items {
	list-style: none;
	margin: $line 0;
	li {
		@include inline-block; } }
		
/*
	Buttons
-----------------------------------------------------------------------*/
@import "import/_buttons.scss";
.button {
	@include input_reset;
	@include button($shadow: false); }
.subtle {
	@include input_reset;
	@include button($main_colour: $success, $text_colour: #fff, $text_shadow: darken($success, 20%), $radius: 3px, $subtle: true); }
.alt {
	@include input_reset;
	@include button($alt, #fff, darken($alt, 25%)); }
.danger {
	@include input_reset;
	@include button($danger, #fff, darken($danger, 25%)); }
.warning {
	@include input_reset;
	@include button($warning, #fff, darken($warning, 25%)); }
.success {
	@include input_reset;
	@include button($success, #fff, darken($success, 25%)); }
.info {
	@include input_reset;
	@include button($info, #fff, darken($info, 25%)); }
.button_group {
	@include pie-clearfix;
	button, a	{
		@include border-radius(0);
		margin-left: -1px;
		float: left;
		&:first-child, &:first-of-type { 
			@include border-radius(5px 0 0 5px);
			margin-left: 0; }
		&:last-child, &:last-of-type {
			@include border-radius(0 5px 5px 0); }
	}
}

/*
	Forms
-----------------------------------------------------------------------*/
[type="search"] {
	@extend button;
}

[type="submit"] {
	@extend .info;
}
input[type="submit"], x:-moz-any-link, x:default {} 

// pre styled stuff should probably be moved into master
.form-text, textarea {
	@include transition(all .4s linear);
	@include form;
}
select, .select, .chzn-single  {
	@include transition(all .4s linear);
	@include form(select);
}
	
label, [type="text"], [type="email"], select, .form-text, textarea {
	display: block; }
label {
	@include em_padding; }
.form-help {
	@include notice($alt, #fff, darken($alt, 20%), $subtle: true, $radius: 0 0 5px 5px);
	border: 1px solid $border;
	border-top: none;
	padding: 2px 5px;
	font: 14px/1 $sans;
	margin: 0 0 $base_px 0; }

[id="name"] {
	@include border-radius(5px 5px 0 0); }

form ul {
	@include no_mp;
	@include no_list_style; }
	
.radio, .check {
	label {
		position: relative; }
	li label { 
		margin: $base_px/2 0; }
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
	float: left;
	margin-left: -20px;
	cursor: pointer; }
	
.check {
	@include notice($warning, #fff, darken($warning, 20%));
	font: 700 14px/1.5 $serif;
	margin: $line 0; }
.check label, li label {
	padding: 0 0 0 20px; }
	
.error { @include form($danger); }
[placeholder] {
	@include form($placeholder: true);
}

/* 
	Misc.
---------------------------------------------------------------------- */
.hiddenFields {display: none;}
iframe {width: 100%;}
hr {
	margin: 2em 0;
	background: $primary;
	background: fade-out($primary, 0.9);
	@include box-shadow(0 1px 0 #fff); }

/* figure ------------------------------ */
figure {}
figcaption {}

/* table ---------------------- */
table {
	border: 1px solid $primary;
	border-collapse: separate;
	background: #fff; }
td, th {
	padding: $line/4;
	line-height: $base_line_height;
	text-align: left;
	border-top: 1px solid $primary;
	&:nth-of-type(even) { background: lighten($secondary, 21%); } }


/*
	Media queries
-----------------------------------------------------------------------*/
@import "import/_mixins/_responsive.scss", "screens/iphone.scss", "screens/tablet.scss", "screens/ipad.scss", "screens/desktop.scss", "screens/max.scss";