@import "import/framework";
@import "site/base"; // variable overrides

/*
	Site structure
-----------------------------------------------------------------------*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
 
html {
	background: $tertiary;
	overflow-y: auto;
	color: $primary;
	// set font-family to a letter for use in js
	font-family: "a";
	@include respond-min($b) {
		font-family: "b"; }
	@include respond-min($c) {
		font-family: "c"; }
	@include respond-min($d) {
		font-family: "d"; }
	@include respond-min($e) {
		font-family: "e"; }
	@include respond-min($f) {
		font-family: "f"; } }

html, body {
	height: 100%; }

#{elements-of-type("block")}, hr {
	margin-bottom: em($line); }

// ease of getting rid of styles related to the demo
// ---------------------------
@import "site/mixins", "site/extends", "site/symbolset", "site/typography", "site/style";