@import "import/framework";

/*
	Site structure
-----------------------------------------------------------------------*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
  
html {
	background: $tertiary;
	@include background(linear-gradient($secondary, #e5ded3 50%));
	overflow-y: auto;
	color: $primary;
	font-size: 100%;
	// set font-family to a letter for use in js to have conditional loading of js
	font-family: "a";
	@include respond-min($b) {
		font-family: "b"; }
	@include respond-min($c) {
		font-family: "c"; }
	@include respond-min($d) {
		font-family: "d"; }
	@include respond-min($e) {
		font-family: "e"; }
	@include respond-min($f) {
		font-family: "f"; } }

html, body {
	height: 100%; }

.container {
	@include old-ie {
		width: 760px; } }
	
[role="main"] {
	@include pie-clearfix; }

// Site header
// ---------------------------
[role="banner"] {}

// Site nav
// ---------------------------
[role="navigation"] {
	@include pie-clearfix;
	@include element($info, $size: 2);
	font-family: $serif;
	width: 100%;
	a {
		@include box-shadow(1px 0 0 scale-color($info, $lightness: 20%, $alpha: -65%));
		font-family: $sans;
		color: $white;
		display: inline-block;
		padding: em($base-px, $base-font-size) em($line, $base-font-size);
		border-right: 1px solid scale-color($info, $lightness: -35%, $alpha: -50%); } }

// Site footer
// ---------------------------
[role="contentinfo"] {
	padding: em($base-px, $base-px) 0 0;
	border-top: 1px solid #e5ded3;
	ul {
		padding: 0; }
	li {
		list-style: none;
		font: 700 .75em $serif; } }


// Base
// ---------------------------
@import "styles/typography";

pre { 
	code {} }

blockquote {
	p {
		position: relative;
		z-index: 1; }
	&:before {
		content:'“'; } }

hr {
	border: none;
	height: 1px;
	background: rgba($black, .15);
	@include box-shadow(0 1px 0 rgba($white, .4)); }

.button {
	margin: 0 0 em($line, $base-font-size);
	&:nth-of-type(1) { @include element($default, $hover: true); }
	&:nth-of-type(2) { @include element($alt, $hover: true); }
	&:nth-of-type(3) { @include element($danger, $hover: true, $shadow: false); }
	&:nth-of-type(4) { @include element($warning, $hover: true); }
	&:nth-of-type(5) { @include element($success, $hover: true); }
	&:nth-of-type(6) { @include element($info, $hover: true); } }