@import "variables";

@mixin form-shading(
	$type: $default-form-type,
	$color: $default-form-color,
	$state: $default-form-state) {
	
	$background-shading-color: if(grayscale($color), $color, saturate($color, 100%));
	$background-color: if($state == disabled, scale-lightness($color, 80%), $white);
	
	// Modernizr
	// ---------------------------
	.no-boxshadow & {
		border: 1px solid $color; }
	
	.no-cssgradients & {
		background: $white; }
	
	// Text
	// ---------------------------
	@if $type == text {
		background: $background-color;
		
		@if $state != disabled {
			box-shadow:
				0 0 9px -3px rgba($color, .6),
				inset 0 1px scale-lightness($color, -20%),
				inset 0 0 0 1px $color,
				if($state != focus, inset 0 1px 2px $color, inset 0 1px 2px desaturate($color, 100%)); }
			
		@if $state == disabled {
			box-shadow:
				0 0 9px -3px rgba($color, .6),
				inset 0 0 0 1px $color; } }
	
	// Select
	// ---------------------------
	@if $type == select {
		
		@if $type != disabled {
			box-shadow:
				0 0 9px -3px rgba($color, .6),
				inset 0 -1px scale-lightness($color, -20%),
				inset 0 0 0 1px $color,
				inset 0 1px 0 rgba($white, .4),
				0 1px 2px rgba($black, $default-dark-shadow/3); }
	
		@if $state == normal {
			@include background(
				linear-gradient(
					rgba($background-color, .025) 0%,
					rgba($background-shading-color, .15) 60%), 
				$default-form-select-image,
				$background-color);
			
			.no-svg & {
				background: $default-form-select-png; } }
		
		@if $state == disabled {
			box-shadow:
				0 0 9px -3px rgba($color, .6),
				inset 0 0 0 1px $color,
				inset 0 1px 0 rgba($white, .4);
			
			@include background(
				linear-gradient(
					rgba($background-color, .025) 0%,
					rgba($background-shading-color, .15) 60%), $default-form-select-image, $background-color); } }
	
	// Checkbox/radio
	// ---------------------------
	@if ($type == checkbox or $type == radio) and $state == normal {
		@include background(
			linear-gradient(
				rgba($background-color, .025) 0%,
				rgba($background-shading-color, .15) 60%), $background-color); }
	
	// Radio
	// ---------------------------
	@if $type == radio {
		box-shadow: 
			inset 0 0 0 1px $color,
			inset 0 2px 1px $white;
		
		@include background(
			linear-gradient(
				rgba($background-color, .025) 0%,
				rgba($background-shading-color, .15) 60%));

		&:checked {
			box-shadow: 
				inset 0 0 0 1px $color,
				inset 0 2px 1px $white;
				
			@include background(
				radial-gradient(
					em($base-px) em($base-px),
					$background-shading-color 5px,
					rgba($background-shading-color, .001) 5px),
				linear-gradient(
					rgba($background-color, .025) 0%,
					rgba($background-shading-color, .15) 60%)); } }

	// Checkbox
	// ---------------------------			
	@if $type == checkbox {
		@include background(
			linear-gradient(
				rgba($background-color, .025) 0%,
				rgba($background-shading-color, .15) 60%));
		
		box-shadow: 
			inset 0 0 0 1px $color,
			inset 0 2px 1px $white;
		
		&:checked {
			box-shadow: 
				inset 0 0 0 1px $color,
				inset 0 2px 1px $white;
				
			@include background(
				$default-form-checkbox-image,
				linear-gradient(
					rgba($background-color, .025) 0%,
					rgba($background-shading-color, .15) 60%));
			
			.no-svg & {
				background: $default-form-checkbox-png; } } } }