h1, h2, h3, h4, h5, h6 {
	@extend .em_margin;
	font: 800 48px/1em $sans; }
h2 {
	font-size: 36px; }
h3 {
	font-size: 28px; }
h4 {
	font-size: 22px; }
h5 {
	font-size: 18px; }
h6 {
	font-size: 14px; 
	text-transform: uppercase;
	letter-spacing: 2px; }
	
p {
	font: 16px/1.5em $serif;
	margin: 1em 0; }