// Blockquote
// ---------------------------
$blockquote-font-size: 24px;
.blockquote,
blockquote {
	font: italic #{em(24px)}/#{1.5} $serif;
	padding: em($line, $blockquote-font-size) 0;
	margin: 0 0 em($line, $blockquote-font-size);
	position: relative;
	text-align: center;
	
	&:before,
	&:after {
		content: "";
		display: inline-block;
		width: em(60px);
		height: em(2px);
		background: $primary;
		position: absolute;
		left: 50%;
		margin-left: em(-30px); }
	
	&:before {
		bottom: 100%; }
	
	&:after {
		top: 100%; }
	
	p {
		margin: 0; } }