// Buttons
// ---------------------------
$colors: $default-color $light-grey $alt $info $danger $success $yellow $warning $white #7375a5 #f00 !default;
//$colors: #ff5820 #ffc041 #ffef40 #a1ea3b #3beacd #41c0ff #3d85eb #e157e1 #2f2f2f #7d7e81 #e3e6ea #fff;
$i: 1;

.button {
	@extend %element-base-with-mixin;
	text-transform: capitalize; }

$buttons: (
	default: $default-color,
	primary: $primary,
	secondary: $secondary,
	tertiary: $tertiary,
	alternate: $alt,
	neutral: $neutral,
	red: $red,
	yellow: $yellow,
	green: $green,
	blue: $blue,
	light-blue: $info
);

@each $button, $color in $buttons {
	.button-#{$button} {
		@include element($color); } }

.button-link {
	background: none;
	color: $secondary;
	
	&:hover,
	&:focus {
		@include element-shading($yellow, $state: hover); }
	
	&:active {
		@include element-shading($yellow, $state: active); } }

// Grouped buttons
// ---------------------------
.group {
	@include group(".button-group"); }

.button-group {
	@extend .button;
	@extend .button-default; }

// Disabled
// ---------------------------
.button-success[disabled] {
	@include element-shading($success, $state: disabled);
	pointer-events: none; }