// Buttons
// ---------------------------
$colors: $default-color $light-grey $alt $info $danger $success $yellow $warning $white #7375a5 #f00 !default;
//$colors: #ff5820 #ffc041 #ffef40 #a1ea3b #3beacd #41c0ff #3d85eb #e157e1 #2f2f2f #7d7e81 #e3e6ea #fff;
$i: 1;

.button {
	@extend %element-base-with-mixin;
	text-transform: uppercase; }

.button-primary {
	@include element($primary); }

.button-secondary {
	@include element($secondary); }

.button-tertiary {
	@include element($tertiary); }

.button-alternate {
	@include element($alt); }

.button-neutral {
	@include element($neutral); }

.button-danger {
	@include element($danger); }

.button-warning {
	@include element($warning); }

.button-success {
	@include element($success); }

.button-info {
	@include element($info); }

.button-default {
	@include element($default-color); }

.button-link {
	background: none;
	color: $secondary;
	
	&:hover,
	&:focus {
		@include element-shading($yellow, $state: hover); }
	
	&:active {
		@include element-shading($yellow, $state: active); } }

// Grouped buttons
// ---------------------------
.group {
	@include group(".button-group"); }

.button-group {
	@extend .button;
	@extend .button-default; }

// Disabled
// ---------------------------
.button-success[disabled] {
	@include element-shading($success, $state: disabled);
	pointer-events: none; }
		
// Alert
// ---------------------------
.alert {
	@extend %element-base-with-mixin;
	width: 100%;
	text-align: center;
	position: relative;
	
	@for $i from 1 through length($colors) {
		$color: nth($colors, $i);
		
		&:nth-of-type(#{$i}) {
			@include element($color, $hover: false); } } }