// Buttons
// ---------------------------
$buttons: (
	primary: $primary,
	secondary: $secondary,
	tertiary: $tertiary
);

// body { background-color: #3A4750 }

// Setup the base
.button {
	@include ui-base;
	@include user-select(none);
	font-weight: font-weight(bold);
	flex: 1 1 20%;

	margin: 12px; }

// Output the variations
@each $button, $color in $buttons {
	.button-#{$button} {
		@include element($color); } }

.button-link {
	background: none;
	color: $primary;

	&:hover,
	&:focus {
		@include element-shading($primary, $state: hover); }

	&:active {
		@include element-shading($primary, $state: active); } }

// Grouped buttons
// ---------------------------
.group {
	@include group(".button-group"); }

// Disabled
// ---------------------------
.button[disabled] {
	opacity: .75;
	pointer-events: none; }
