// Experimental
// ---------------------------
// An easy way to disable misc stuff
// that I'm trialling, building up to begin with
// to be able to quickly get rid of bugs as well
@mixin type-setup($map) {
	$text-increment: 1;
	
	@each $selector, $properties in $map {
		$selector: unquote($selector);
		$keys: map-keys($properties);
		$values: map-values($properties);
		
		#{$selector} {
			@for $text-increment from 1 through length($keys) {
				$property: nth($keys, $text-increment);
				$value: nth($values, $text-increment);
				#{$property}: #{$value}; } } } }

@if $_experimental-css {
	
[class*="input-"] {
	&::-webkit-calendar-picker-indicator {
		color: transparent;
		outline: 1px solid red;

		&:before {
			content: "";
			display: block;
			background: image-url("dropdown.svg") no-repeat center center;
			width: em(12px);
			height: em(6px); } } }

summary::-webkit-details-marker {
  display: none }

summary:after {
  background: inline-image("dropdown.svg") no-repeat center center;
  float: left; 
  height: 20px;
  width: 20px;
  content: " ";
  position: relative;
  transform: rotate(-90deg);
}

details[open] summary:after {
	transform: rotate(0deg);
}

}