// Forms
// ---------------------------
// See: objects/ui for .input base styling
// ---------------------------
// <form class="form">
//   <div class="field field-{type}">
//     <input type="{type}" class="input input-{type}">
//   </div>
// </form>
.form {
	display: flex;
	flex-flow: row wrap; }

.form-search {
  @include breakpoint($b) {
    align-content: center;
    align-items: center; }
    
  @include breakpoint($b-max) {
    width: 100%; } }

// Label
// ---------------------------
.field-label {
	display: block;
	font-weight: 700;
	line-height: 2.25; }

// Helper
// ---------------------------
.field-hint {
  font-size: 75%; }

// Legend
// ---------------------------
.field-legend {
  font-size: 18px; }

// Fieldset
// ---------------------------
.field {
  position: relative;
  width: 100%; }

// Field layouts
// ---------------------------
.field-first .input-text {
  border-radius: $radius 0 0 $radius; }
	
.field-last .input-text {
  border-radius: 0 $radius $radius 0; }

// Field specifics
// ---------------------------
.field-checkbox {
	display: block; }
	
.field-radio {
	@extend .field-checkbox; }

.field-search {
  @include breakpoint($b-max) {
    padding: 0 $line; } }

.form-actions {
	clear: both;
	width: 100%; }

// Grouped fields
// ---------------------------
.field-group {
	display: flex;
	
	.field-label {
		padding: 0 em($base-px); } }
		
// Input
// ---------------------------
.input {
  @include ui-base;
  color: $primary; }
	
	// Text
	// ---------------------------
	.input-text {
		@include form; }
	
	// Select
	// ---------------------------
	.input-select {
		@include form(select); }
	
	// Check/radio
	// ---------------------------
	.input-checkbox,
	.input-radio {
    @include form-boolean-base; }
	
	.input-checkbox {
		@include form(checkbox);
		width: em($base-font-size);
		height: em($base-font-size); 
		position: relative;
		top: em($base-font-size / 6);
		margin: $default-form-boolean-margin; }
	
	.input-radio {
		@include form(radio);
		position: relative;
		width: $default-form-radio-width;
		height: $default-form-radio-height;
		top: em(2px);
		margin: $default-form-boolean-margin; }
		
	// Submit
	// ---------------------------
	.button-submit {
		@include element($red, $hover: true); }

// Remove spacing from browser datepicker
// ---------------------------
// You may run into issues with this, so may need removing
// but this was added as spacing will be off as a result
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none; }
  
input[type=date]::-webkit-datetime-edit-fields-wrapper {
  padding: 0; }