// Class prefixes
// ---------------------------
$field-prefix: field-;
$input-prefix: input-;
$forms-use-flex: true;

// Forms
// ---------------------------
.form,
.simple_form {
	@extend %clear;
	
	@if $forms-use-flex {
		@include display-flex;
		@include flex-flow(row wrap); } }

@if $forms-use-flex {
	.field {
		@include breakpoint($c) {
			@include flex-basis(100%); } }
	
	.field-half {
		@include breakpoint($c) {
			@include flex-basis(50%); } } }
@else {
	.field-half {
		@include breakpoint($c) {
			display: inline-block;
			vertical-align: top;
			width: 50%; } }
	
	.field-first {
		@include breakpoint($c) {
			padding-right: em($base-px); } }
	
	.field-last {
		@include breakpoint($c) {
			padding-left: em($base-px); } } }

// Field layouts
// ---------------------------
.field-half {}
.field-first .input-text {
	border-radius: $radius 0 0 $radius; }
	
.field-last .input-text {
	border-radius: 0 $radius $radius 0; }

// Label
// ---------------------------
.#{$field-prefix}label {
	display: block;
	font-weight: 700;
	line-height: 2.25; }

// Helper
// ---------------------------
.field-hint { font-size: 75%; }

// Legend
// ---------------------------
.#{$field-prefix}legend {
	@extend .h3 !optional; }

// Fieldset
// ---------------------------
.field,
fieldset {
	margin: 0;
	padding: 0; }
	
.#{$field-prefix}checkbox {
	display: block; }
	
.#{$field-prefix}radio {
	@extend .field-checkbox; }

.#{$field-prefix}search {
	@include form-search($has-label: true);
	text-align: right; }

.form-actions {
	clear: both;
	width: 100%; }

// Grouped fields
// ---------------------------
.#{$field-prefix}group {
	@include display-flex;
	
	.#{$field-prefix}label {
		padding: 0 em($base-px); } }
		
// Input
// ---------------------------
	.#{$input-prefix}text,
	.#{$input-prefix}select {
		width: 100%; }
	
	// Text
	// ---------------------------
	.#{$input-prefix}text {
		@extend %form-base-with-mixin;
		@include form;
		
		&[readonly] {
			@include form-shading($state: readonly); } }
	
	// Select
	// ---------------------------
	.#{$input-prefix}select {
		@extend %form-base-with-mixin;
		@include form(select); }
	
	// Check/radio
	// ---------------------------
	.#{$input-prefix}checkbox {
		@include form(checkbox);
		@include wh(em($base-font-size));
		position: relative;
		top: em($base-font-size / 6);
		margin: $default-form-boolean-margin; }
	
	.#{$input-prefix}radio {
		@include form(radio);
		@include wh($default-form-radio-width, $default-form-radio-height);
		position: relative;
		top: em(2px);
		margin: $default-form-boolean-margin; }
		
	// Submit
	// ---------------------------
	.button-submit {
		@include element($red, $hover: true); }