// Header
// ---------------------------
.header.headroom {
  position: fixed;
  z-index: $z-index-200;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transition: transform .4s ease, box-shadow .4s ease, background-color .8s ease; }

// Headroom
// ---------------------------
.header-pinned {
  @include breakpoint($c) {
    transform: translateY(0%); } }

.header-unpinned {
  @include breakpoint($c) {
    transform: translateY(-100%); } }
