// Unordered & ordered
// ---------------------------
ul,
ol {
	@extend %margin-bottom;
	
	ul,
	ol {
		margin-left: em($line); } }

li {
	list-style: square; }

// Definition
// ---------------------------
dl {
	@extend %clear;
	@extend %margin-bottom; }

dt {
	@extend %vertical-align-top;
	font-weight: 700;
	width: 33.333333%;
	
	@if $remove-inline-block-whitespace {
		margin-right: $negative-spacing; } }

dd {
	@extend %vertical-align-top;
	width: 66.666666%;
	padding-left: cp(24px, $site-width); }