// Unordered & ordered
// ---------------------------
ul,
ol {
	@extend %margin-bottom;
	
	ul,
	ol {
		margin-left: em($line); } }

li {
	list-style: square; }

// Definition
// ---------------------------
dl {
	@extend %margin-bottom; }

dt {
	font-weight: 700; }

dd {}