// Navigation
// ---------------------------
/**
 *	Use pattern
 **
 
  <nav role="navigation" class="navigation navigation-small navigation-inactive">
		<a href="#" class="navigation-item navigation-toggle">␡</a>
		...
	</nav>
	
	<div class="site">
	
		<header role="banner" class="header">
			...
      <a href="#" class="navigation-toggle">toggle</a>
		</header>
		...
		
	</div>
 */

.navigation {}
	
.navigation-small {
	position: absolute;
	z-index: $z-index-1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	// Adjustable styles
	background: scale-lightness($tertiary, -5%);
	text-align: right; }

.navigation-large {}

.navigation-inactive {
	@include transition(transform .5s, opacity .5s);
	@include transform(scale(.95) translate3d(0, em($line), 0));
	opacity: .6; }
	
.navigation-active {
	@include transition(transform .5s, opacity .5s);
	@include transform(scale(1) translate3d(0, 0, 0));
	opacity: 1; }

// Items
// ---------------------------
.navigation-item {
	@extend %vertical-align-top;
	@include transition(background $default-transition-duration, color $default-transition-duration, box-shadow $default-transition-duration);
	
	color: scale-lightness($tertiary-d1, -20%);
	
	@include breakpoint($c-max) {
		display: block;
		padding: em($line);
		box-shadow: 0 1px 0 $tertiary-d1;
		
		&:hover,
		&:focus {
			color: $secondary;
			background: $tertiary-d1;
			box-shadow: 
				0 -1px 0 scale-lightness($tertiary-d1, -10%),
				0 1px 0 scale-lightness($tertiary-d1, -10%); } } }

// Toggle
// ---------------------------
.navigation-toggle {
	font-family: $icons;
	
	@include breakpoint($c) {
		display: none; } }