// Navigation
// ---------------------------
.site-nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: em($base-px); }

	&.active {
		max-height: 40em; }

	@include breakpoint($c) {
		max-height: none;
		clear: none; } }