// Island padding helpers
// ---------------------------
$islands: (
  spit: quarter($baseline),
  isle: half($baseline),
  island: $baseline,
  country: double($baseline),
  continent: quadruple($baseline) );

@each $name, $padding in $islands {
	.#{$name} {
		padding: $padding; }
  
  .#{$name}-v {
    padding-top: $padding;
    padding-bottom: $padding; } }