// Buttons & alerts
// ---------------------------
$colors: $default $alt $info $danger $success $warning;
$i: 1;

.button, [type=submit] {
	@extend %element-base-with-mixin;
	@for $i from 1 through length($colors) {
		$color: nth($colors, $i);
	
		&:nth-of-type(#{$i}) {
			@include element($color, $hover: true, $dry: true); } } }

// Alert
.alert {
	@extend %element-base-with-mixin;
	width: 100%;
	text-align: center;
	
	@for $i from 1 through length($colors) {
		$color: nth($colors, $i);
	
		&:nth-of-type(#{$i}) {
			@include element($color, $dry: true); } } }

// Grouped
.group-button {
	@include element-base;
	@include element($alt, $hover: true, $dry: true); }
	
.group { 
	@include element-group(".group-button"); }

// Forms
// ---------------------------
label {
	@include form-label; }

[type=text],
[type=email],
[type=password],
[type=search],
[type=url],
textarea {
	@include form; }

select {
	@include form($type: select); }