// Override variables from import/_base.scss here
// General site variables
// ---------------------------

// Color
// ---------------------------

// Fonts
// ---------------------------
$sans: Verlag A, Verlag B, sans-serif !global;
$serif: Sentinel A, Sentinel B, serif !global;
$monospace: Inconsolata, Menlo, Monaco, "Courier New", monospace !global;
$icons: "SSStandard" !global;
$heading: $serif !global;
$body: $sans !global;
$form: $sans !global;
$element: $sans !global;

// Defaults
// ---------------------------
$default-transition-duration: .2s;
$site-width: 800px;

// Breakpoints
// ---------------------------
@include breakpoint-set('base font size', $base-font-size);