// Disable specific
// ---------------------------
// It's nice to keep the output of your CSS clean, some of these helpers
// will be overly helpful for you
$disable-output: false;

// @if $disable-output {
//   ... }
// ---------------------------

// Clearfix
// ---------------------------
$default-enable-clearfix: false !default;

@if $default-enable-clearfix {
  .clearfix {
  	@extend %clear; } }

// Floating
// ---------------------------
$default-enable-float: false !default;

@if $default-enable-float {
	.pull-left,
	.float-left {
		@extend %left; }
	
	.pull-right,
	.float-right {
		@extend %right; } }

// Inline block layout
// ---------------------------
$default-enable-inline-block-layout: true !default;
$helper-vertical-align-prefix: vertical-align;

@if $default-enable-inline-block-layout {
	%inline-block {
		display: inline-block; }
		
	%vertical-align-top {
		@extend %inline-block;
		vertical-align: top; }
	
	%vertical-align-middle {
		@extend %inline-block;
		vertical-align: middle; }
	
	%vertical-align-bottom {
		@extend %inline-block;
		vertical-align: bottom; }
	
	.#{$helper-vertical-align-prefix}-top {
		@extend %vertical-align-top; }
	
	.#{$helper-vertical-align-prefix}-middle {
		@extend %vertical-align-middle; }
	
	.#{$helper-vertical-align-prefix}-bottom {
		@extend %vertical-align-bottom; } }

// Visibility
// ---------------------------
$default-enable-visibility: true !default;

@if $default-enable-inline-block-layout {
	.hidden {
		display: none; }
	
	.screen-reader-text,
	.visuallyhidden {
		border: 0 !important;
		clip: rect(0 0 0 0);
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		position: absolute !important;
		width: 1px !important;
		padding: 0 !important; } }

// Sizes
// ---------------------------
$default-enable-sizes: true !default;

@if $default-enable-sizes {
	.xxlarge {
		font-size: $xxlarge-size; }
		
	.xlarge {
		font-size: $xlarge-size; }
		
	.large {
		font-size: $large-size; }
	
	.normal {
		font-size: $normal-size; }
		
	.small {
		font-size: $small-size; }
		
	.xsmall {
		font-size: $xsmall-size; }
		
	.xxsmall {
		font-size: $xxsmall-size; } }

// Padding
// ---------------------------
$default-enable-padding: true !default;

@if $default-enable-padding {
  // All
  .soft-all {
    padding: rem($line); }
  
  .soft-all-large {
    padding: rem($line*2); }
  
  .soft-all-small {
    padding: rem($base-px); }
  
  .flat-all {
		padding: 0; }
  
  // Top
  .soft-top {
		padding-top: rem($line); }
		
	.soft-top-large {
		padding-top: rem($line*2); }
		
  .flat-top {
		padding-top: 0; }
  
  // Bottom
	.soft-bottom {
		padding-bottom: rem($line); }
		
	.soft-bottom-large {
		padding-bottom: rem($line*2); }
  
  .flat-bottom {
		padding-bottom: 0; }
  
  // Right
  .soft-right {
    margin-right: rem($base-px); }
  
  .soft-right-small {
    margin-right: rem($base-px/2); }
  
  .soft-right-large {
    margin-right: rem($line); }
  
  // Left
  .soft-left {
    margin-left: rem($base-px); }
  
  .soft-left-small {
    margin-left: rem($base-px/2); }
  
  .soft-left-large {
    margin-left: rem($line); } }
	
// Margin
// ---------------------------
$default-enable-margin: true !default;

@if $default-enable-margin {
  // Top
  .push-top {
		margin-top: rem($line); }
		
	.push-top-large {
		margin-top: rem($line*2); }
		
  .flush-top {
		margin-top: 0; }
  
  // Bottom
	.push-bottom {
		margin-bottom: rem($line); }
				
	.push-bottom-large {
		margin-bottom: rem($line*2); }
  
  .flush-bottom {
		margin-bottom: 0; }
  
  // Right
  .push-right {
    margin-right: rem($base-px); }
  
  .push-right-small {
    margin-right: rem($base-px/2); }
  
  .push-right-large {
    margin-right: rem($line); }
  
  // Left
  .push-left {
    margin-left: rem($base-px); }
  
  .push-left-small {
    margin-left: rem($base-px/2); }
  
  .push-left-large {
    margin-left: rem($line); } }

// Radius
// ---------------------------
$default-enable-radius: false !default;

@if $default-enable-radius {
	.circular,
	[class*="-circular"] {
		border-radius: 100%; }
	
	.radius,
	[class*="-radius"] {
		border-radius: $radius; } }

$default-enable-radius-specific: false !default;

@if $default-enable-radius-specific {
	$radii: top-left, top-right, bottom-left, bottom-right;
	
	@each $radius in $radii {	
		.radius-#{$radius} {
			border-#{$radius}-radius: $radius; } } }