// Header
// ---------------------------
[role="banner"] {
	@include gradient-background($content-height: 300px);
	
	padding: em($line*2) em($line);
	-webkit-flex: 2;
	
	@include respond-min($c) {}
	@include respond-min($d) {} }
	
.site-logo {
	font: 400 em($line*3) swingdancer;
	display: block; }

// Navigation
// ---------------------------
[role="navigation"] {
	a {
		@extend %inset-highlight;
		
		display: block;
		
		padding: em($base-px/2) 0;
		margin: 0 em($base-px/2); }
	
	@include respond-min($c) {}
	@include respond-min($d) {} }

// Content
// ---------------------------
.site {
	display: -webkit-flex;
	-webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap; }

[role="main"] {
	padding: em($line*2) em($line);
	
	-webkit-flex: 4; }

// Footer
// ---------------------------
[role="contentinfo"] {
	display: block;
	clear: both;
	width: 100%; }