// Header
// ---------------------------
[role="banner"] {
	@extend %offset-tb;
	@include gradient-background($content-height: 300px);
		
	@include respond-min($c) {}
		
	@include respond-min($d) {} }
	
.logo {
	font: 400 em($line*3) swingdancer;
	display: block; }

// Navigation
// ---------------------------
[role="navigation"] {
	a {
		@extend %inset-highlight;
		
		display: block;
		
		padding: em($base-px/2) 0;
		margin: 0 em($base-px/2); }
	
	@include respond-min($c) {}
	
	@include respond-min($d) {} }

// Content
// ---------------------------
[role="main"] {
	@extend %offset-tb;

	@include respond-min($c) {}
	
	@include respond-min($d) {} }

// Footer
// ---------------------------
[role="contentinfo"] {
	clear: both;
	
	@include respond-min($c) {}
	
	@include respond-min($d) {} }