// Site structure
// ---------------------------
body {
	background: $white;
	color: $neutral; }

// Site
// ---------------------------
.site {
	transition: transform .5s;
		
	// Make sure the this is a layer above .navigation
	position: relative;
	z-index: $z-index-2;
	min-height: 100vh;
	
	// Needs a background to cancel out the .navigation
	@include breakpoint($c-max) {
		background: $white; } }

.site-active {
	transform: translate3d(-16em, 0, 0);
	transition: transform .5s; }