.container {
	padding: $grid-container-margin;
	@include old-ie {
		width: 760px; } }

#{elements-of-type(block)}, table {
	margin-bottom: em($line, $base-font-size); }

// Site header
// ---------------------------
[role="banner"] {
	@extend .grid-full;
	padding: em($line*3, $base-font-size) em($base-px, $base-font-size);
	h1, h2 {
		@extend .mask;
		text-shadow: 0 1px 3px rgba($white, .4);
		margin: 0; }
	h1 {
		font-family: "swingdancer";
		font-size: 7vw;
		text-align: center;
		display: block; } }

// Site nav
// ---------------------------
@-webkit-keyframes drop {
	100% {
		@include transform(translateY(0)); } }
[role="navigation"] {
	@include pie-clearfix;
	@include element($primary, $size: false, $radius: false);
	font-family: $serif;
	margin-left: 0;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 2;
	white-space: nowrap;
	@include transform(translateY(-100px));
	-webkit-animation: drop 350ms 750ms ceaser($easeOutBack) forwards;
	a {
		@include box-shadow(1px 0 0 scale-color($primary, $lightness: 20%, $alpha: -65%));
		font-family: $sans;
		color: $white;
		display: inline-block;
		padding: em($base-px, $base-font-size);
		border-right: 1px solid scale-color($primary, $lightness: -35%, $alpha: -50%);
		&:hover, &:focus {
			color: $alt; }
		&:last-child { 
			@include box-shadow(none);
			float: right;
			border: none; } } }

// Site content
// ---------------------------
[role="main"] {
	@include pie-clearfix;
	clear: both;
	h2, h3, hr {
		-webkit-column-span: all;} }
		
article {
	&:nth-of-type(2) {
		@extend %two-columns;
	}
}

// Site footer
// ---------------------------
[role="contentinfo"] {
	@extend .grid-full;
	padding: em($base-px, $base-px) 0 0;
	clear: both;
	ul {
		padding: 0; }
	li {
		list-style: none;
		font: 700 .75em $serif; } }


// Base
// ---------------------------
@import "typography", "extends";

pre { 
	code {} }

blockquote {
	p {
		position: relative;
		z-index: 1; }
	&:before {
		content:'“'; } }

hr {
	clear: both;
	border: none;
	height: 1px;
	background: rgba($black, .1);
	@include box-shadow(0 1px 0 rgba($white, .8)); }

.button {
	margin: 0 0 em($line, $base-font-size);
	&:nth-of-type(1) { @include element($default, $hover: true); }
	&:nth-of-type(2) { @include element($alt, $hover: true); }
	&:nth-of-type(3) { @include element($danger, $hover: true); }
	&:nth-of-type(4) { @include element($warning, $hover: true); }
	&:nth-of-type(5) { @include element($success, $hover: true); }
	&:nth-of-type(6) { @include element($info, $hover: true); }
	&:nth-of-type(7) { @include element($info, $hover: true, $shadow: false); }
	&:nth-of-type(8) { @include element($info, $hover: true, $subtle: true); }
	&:nth-of-type(9) { @include element($info, $hover: true, $subtle: true, $shadow: false); } }
	
.alert {
	margin: 0 0 em($line, $base-font-size);
	text-align: center;
	&:nth-of-type(1) { @include element($default, $display: block); }
	&:nth-of-type(2) { @include element($alt, $display: block); }
	&:nth-of-type(3) { @include element($danger, $display: block); }
	&:nth-of-type(4) { @include element($warning, $display: block); }
	&:nth-of-type(5) { @include element($success, $display: block); }
	&:nth-of-type(6) { @include element($info, $display: block); }
	&:nth-of-type(7) { @include element($info, $white, $shadow: false, $display: block); }
	&:nth-of-type(8) { @include element($info, $subtle: true, $display: block); } }

.form-top label {
	@include form-label(top); }
.form-left label {
	@include form-label(left); }
[type="text"], [type="email"], [type="password"], [type="url"], textarea {
	@include form; }
[type="submit"] {
	@include form($type: submit); }
[type="checkbox"], [type="radio"] {
	@include form($type: "radio"); }
select {
	@include form($type: "select"); }
textarea {
	@include form($type: "textarea");
	min-height: em($line*6, $base-font-size); }
	
.form-help {
	margin: .375em 0 0 0;
	font-size: 12px;
	color: #999; }
.radio {
	ul {
		list-style: none;
		padding: 0; }
	li {
		display: inline-block;
		padding-right: em($line, $base-font-size);
		> label {
			font-weight: 400; } } }
table {
	@include table; }