.container {
	@extend .container;
	padding: 0 em($line*2);
	@include gradient-background;
	
	@include old-ie {
		width: 760px; } }

// Site header
// ---------------------------
[role="banner"] {
	@extend .grid-full;
	padding: em($line*4.5) em($base-px) em($line*3);
	
	h1, h2 {
		text-shadow: 0 1px 3px rgba($white, .4);
		margin: 0; }
		
	h1 {
		font-family: "swingdancer";
		font-size: 7vw;
		text-align: center;
		display: block; } }

// Site nav
// ---------------------------
@-webkit-keyframes drop {
	90% {
		-webkit-transform: translateY(3px); }
	100% {
		-webkit-transform: translateY(0); } }

@-moz-keyframes drop {
	90% {
		-moz-transform: translateY(3px); }
	100% {
		-moz-transform: translateY(0); } }

@keyframes drop {
	90% {
		transform: translateY(3px); }
	100% {
		transform: translateY(0); } }
		
[role="navigation"] {
	@extend %clear;
	@include element($primary, $size: false, $radius: false);
	font-family: $serif;
	margin-left: 0;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 2;
	white-space: nowrap;
	@include transform(translateY(-60px));
	-webkit-animation: drop 500ms 750ms ceaser($easeOutBack) forwards;
	-moz-animation: drop 500ms 750ms ceaser($easeOutBack) forwards;
	animation: drop 500ms 750ms ceaser($easeOutBack) forwards;
	
	a {
		@include box-shadow(1px 0 0 scale-color($primary, $lightness: 20%, $alpha: -65%));
		font-family: $sans;
		color: $white;
		display: inline-block;
		padding: em($base-px);
		border-right: 1px solid scale-color($primary, $lightness: -35%, $alpha: -50%);
		
		&:hover, &:focus {
			color: $alt; }
		
		&:last-child { 
			@include box-shadow(none);
			float: right;
			border: none; } } }

// Site content
// ---------------------------
[role="main"] {
	@extend %clear;
	clear: both; }

// Site footer
// ---------------------------
[role="contentinfo"] {
	@extend .grid-full;
	padding: em($base-px, $base-px) 0 0;
	clear: both;
	
	ul {
		padding: 0; }
	
	li {
		list-style: none;
		font: 700 .75em $serif; } }


// Base
// ---------------------------
blockquote {
	
	p {
		position: relative;
		z-index: 1; }
	
	&:before {
		content:'“'; } }

dl {
	font-family: $serif; }
	
dt {
	font-weight: 700;
	&:after { 
		content: ": "; } }

.secondary { 
	@extend %secondary; }

hr {
	clear: both;
	border: none;
	height: 1px;
	background: rgba($black, .1);
	@include box-shadow(0 1px 0 rgba($white, .8)); }

// Demo buttons
// ---------------------------
.group {
	@include element-group(".group-button"); }

.group-button {
	@extend %element-base;
	@include element($white, #666, $hover: true, $dry: false); }

.button, .alert {
	@include element-base; }
	
.button {
	margin: 0 0 em($line);

	&:nth-of-type(1) { 
		@include element($alt, $hover: true, $dry: true);
		@include add-icon(navigateleft); }

	&:nth-of-type(2) { 
		@include element($danger, $hover: true, $dry: true);
		@include add-icon(⚠); }

	&:nth-of-type(3) { 
		@include element($warning, $hover: true, $dry: true); }

	&:nth-of-type(4) { 
		@include element($success, $hover: true, $dry: true); }

	&:nth-of-type(5) { 
		@include element($info, $hover: true, $dry: true); }

	&:nth-of-type(6) { 
		@include element($default, $hover: true, $dry: true); } }

// Demo alert
// ---------------------------
.alert {
	margin: 0 0 em($line);
	text-align: center;
	width: 100%;
	
	&:nth-of-type(1) { 
		@include element($default, $dry: false);
		@include add-icon("+"); }
	
	&:nth-of-type(2) { 
		@include element($alt, $dry: false);
		@include add-icon(🔔); }
	
	&:nth-of-type(3) { 
		@include element($danger, $dry: false);
		@include add-icon(␡); }
	
	&:nth-of-type(4) { 
		@include element($warning, $dry: false);
		@include add-icon("-"); }
	
	&:nth-of-type(5) { 
		@include element($success, $dry: false);
		@include add-icon(✓); }
	
	&:nth-of-type(6) { 
		@include element($info, $dry: false);
		@include add-icon(ℹ); } }


// Demo forms
// ---------------------------
.form-top label {
	@include form-label(top); }
	
.form-left label {
	@include form-label(left); }
	
[type="text"], [type="email"], [type="password"], [type="url"], textarea {
	@include form;
	&[disabled] {
		@include form($state: disabled); }
	&.error {
		@include form($red, $state: error); }
	&.success {
		@include form($success, $state: success); } }
	
[type="checkbox"], [type="radio"] {
	@include form($type: "radio", $set-height: false); }

[type="submit"] {
	@include element($hover: true); }
	
select {
	@include form($type: "select"); }
	
textarea {
	min-height: em($line*6); }

.form-help {
	margin: .375em 0 0 0;
	font-size: 12px;
	color: #999; }
	
.radio {
	ul {
		list-style: none;
		padding: 0; }
	li {
		display: inline-block;
		padding-right: em($line);
		width: 100%/3;
		> label {
			font-weight: 400;
			width: 100%; } } }

// Demo table
// ---------------------------
table {
	@include table; }
	
	
/**
 * prism.js Monokai theme for CSS & Sass/Scss
 *
 * @todo test for JavaScript & HTML
 *
 * @author @MoOx
 */

$prism-font-family: 	Menlo, Monaco, "Courier New", monospace	!default;
$prism-font-size: 		.875rem !default;
$prism-padding: 		em($base-px, 14px) !default;
$prism-line-height:		18px !default;
$prism-border-radius: 	5px !default;
$prism-border: 			1px solid #e1e1e8 !default;
$prism-background: 		#2a2a2a !default;
$prism-color: 			#76d9e6 !default;
$prism-color-neutral:	#bebec5 !default;
$prism-text-shadow: 	0 1px 0 #000 !default;

$prism-color-comment:		#6f705e	!default;
$prism-color-keyword:		#f12770	!default;
$prism-color-value:			#76d9e6	!default;
$prism-color-string:		#e6d06c	!default;
$prism-color-name:			#e6d06c	!default;
$prism-color-number:		#a77afe	!default;
$prism-color-variable:		#fff	!default;
$prism-color-selector:		#a6e22d	!default;
$prism-color-punctuation:	$prism-color-neutral !default;


code[class*="language-"],
pre[class*="language-"] {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	// whitespace management
	white-space: pre; // fallback
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;

	// theme
	font-family: $prism-font-family;
	font-size: 	$prism-font-size;
	line-height: $prism-line-height;

	color: $prism-color;
	text-shadow: $prism-text-shadow; }

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: $prism-background; }

// Code blocks
pre[class*="language-"] {
	padding: $prism-padding;
	border-radius: $prism-border-radius;
	border: $prism-border; }

// Inline code
:not(pre) > code[class*="language-"] {
	padding: .15em .2em .05em;
	border-radius: .3em;
	border: .13em solid hsl(30,20%,40%);
	box-shadow: 1px 1px .3em -.1em black inset; }

.namespace {
	opacity: .7; }

.token {
	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: $prism-color-comment; }

	&.null,
	&.operator,
	&.boolean,
	&.number {
		color: $prism-color-number; }

	&.attr-name,
	&.string,
	&.entity,
	&.url,
	.language-css &.string,
	.style &.string {
		color: $prism-color-string; }

	&.selector {
		color: $prism-color-selector; }

	&.atrule,
	&.attr-value,
	&.keyword,
	&.control,
	&.directive,
	&.important,
	&.unit {
		color: $prism-color-keyword; }

	&.regex,
	&.statement {
		color: $prism-color-value; }

	&.placeholder,
	&.variable {
		color: $prism-color-variable; }

	&.property,
	&.tag {
		font-style: italic; }

	&.important,
	&.statement {
		font-weight: bold; }

	&.punctuation {
		color: $prism-color-punctuation; }

	&.entity {
		cursor: help; }

	// for dev :)
	&.debug { 
		color: red } }