.container {
	padding: em($line*3, $base-font-size);
	@include old-ie {
		width: 760px; } }
	
[role="main"] {
	@include pie-clearfix;
	@extend .grid-full; }

#{elements-of-type(block)}, table {
	margin-bottom: em($line, $base-font-size); }

// Site header
// ---------------------------
[role="banner"] {
	@extend .grid-full; }

// Site nav
// ---------------------------
@-webkit-keyframes drop {
	60% {
		top: 0; }
	80% {
		top: -6px; }
	100% {
		top: 0; } }
[role="navigation"] {
	@include pie-clearfix;
	@include element($primary, $size: false, $radius: false);
	font-family: $serif;
	margin-left: 0;
	position: fixed;
	right: 0;
	left: 0;
	top: -50px;
	z-index: 2;
	white-space: nowrap;
	-webkit-animation: drop .5s .75s ease-in-out forwards;
	a {
		@include box-shadow(0 1px 0 scale-color($primary, $lightness: 20%, $alpha: -65%));
		font-family: $sans;
		color: $white;
		display: inline-block;
		padding: em($base-px, $base-font-size);
		padding-left: em($line, $base-font-size);
		border-bottom: 1px solid scale-color($primary, $lightness: -35%, $alpha: -50%);
		&:hover, &:focus {
			color: $secondary; }
		&:last-child { 
			@include box-shadow(none);
			border: none; } } }

// Site footer
// ---------------------------
[role="contentinfo"] {
	@extend .grid-full;
	padding: em($base-px, $base-px) 0 0;
	border-top: 1px solid #e5ded3;
	clear: both;
	ul {
		padding: 0; }
	li {
		list-style: none;
		font: 700 .75em $serif; } }


// Base
// ---------------------------
@import "typography", "extends";

pre { 
	code {} }

blockquote {
	p {
		position: relative;
		z-index: 1; }
	&:before {
		content:'“'; } }

hr {
	border: none;
	height: 1px;
	background: rgba($black, .15);
	@include box-shadow(0 1px 0 rgba($white, .4)); }

.button {
	margin: 0 0 em($line, $base-font-size);
	&:nth-of-type(1) { @include element($default, $hover: true); }
	&:nth-of-type(2) { @include element($alt, $hover: true); }
	&:nth-of-type(3) { @include element($danger, $hover: true); }
	&:nth-of-type(4) { @include element($warning, $hover: true); }
	&:nth-of-type(5) { @include element($success, $hover: true); }
	&:nth-of-type(6) { @include element($info, $hover: true); }
	&:nth-of-type(7) { @include element($info, $hover: true, $shadow: false); }
	&:nth-of-type(8) { @include element($info, $hover: true, $subtle: true); }
	&:nth-of-type(9) { @include element($info, $hover: true, $subtle: true, $shadow: false); } }
	
.alert {
	margin: 0 0 em($line, $base-font-size);
	text-align: center;
	&:nth-of-type(1) { @include element($default, $display: block); }
	&:nth-of-type(2) { @include element($alt, $display: block); }
	&:nth-of-type(3) { @include element($danger, $display: block); }
	&:nth-of-type(4) { @include element($warning, $display: block); }
	&:nth-of-type(5) { @include element($success, $display: block); }
	&:nth-of-type(6) { @include element($info, $display: block); }
	&:nth-of-type(7) { @include element($info, $white, $shadow: false, $display: block); }
	&:nth-of-type(8) { @include element($info, $subtle: true, $display: block); } }

label {
	@include form-label(top); }
[type="text"], [type="email"], [type="password"], [type="url"], textarea {
	@include form; }
[type="submit"] {
	@include form($type: submit); }
[type="checkbox"], [type="radio"] {
	@include form($type: "radio"); }
select {
	@include form($type: "select"); }
textarea {
	@include form($type: "textarea");
	min-height: em($line*6, $base-font-size); }
	
.form-help {
	margin: .375em 0 0 0;
	font-size: 12px;
	color: #999; }
.radio {
	ul {
		list-style: none;
		padding: 0; }
	li {
		display: inline-block;
		padding-right: em($line, $base-font-size);
		margin-left: -4px;
		> label {
			font-weight: 400; } } }
table {
	@include table; }