// Headings
// ---------------------------
#{headings()} {
	font-family: $heading;
	font-weight: 400;
	color: $primary;
	padding: 0;
	line-height: 1.25;
	a { 
		color: $primary;
		&:hover, &:focus {
			color: $secondary; } } }

h1, .h1 {
	@include adjust-font-size-to($base-px*4);
	margin: 0 0 rhythm(.5, $base-px*4); }
h2, .h2 {
	@include adjust-font-size-to($base-px*3);
	margin: 0 0 rhythm(.5, $base-px*3); }
h3, .h3 {
	@include adjust-font-size-to($base-px*2);
	margin: 0 0 rhythm(.5, $base-px*2); }
h4, .h4 {
	@include adjust-font-size-to(21px);
	margin: 0 0 rhythm(.5, 21px); }
h5, .h5 {
	@include adjust-font-size-to(18px);
	margin: 0 0 rhythm(.5, 18px);
	@extend %heading-bold; }
h6, .h6 {
	@include adjust-font-size-to($base-font-size);
	margin: 0 0 rhythm(.5, $base-font-size);
	@extend %heading-bold; }

%heading-bold {
	font-weight: 700; }

// General
// ---------------------------
body {
	font: 100%/#{$base-line-height} $body; }

a {
	text-decoration: none;
	color: $secondary;
	@extend %transition;
	&:hover, &:focus {
		color: $primary; } }
		
// Code
// ---------------------------
code {
	font-size: em($base-font-size);
	font-weight: 400;
	pre & {
		max-height: 200px;
		overflow: auto;
		color: $primary;
		direction: ltr;
		text-align: left;
		white-space: pre-line;
	
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2; } }

// Reusable
// ---------------------------
.text-center {
	text-align: center; }
.mask {
	-webkit-mask: image-url("mask.png") 400px -200px; }
.with-subheading {
	margin: 0; }
.subheading {
	font-weight: 400;
	color: scale-lightness($primary, 10%); }
.accordion {
	cursor: pointer; }