#{elements-of-type(block)} {
	margin-bottom: em($line, $base-font-size); }
	
// Headings
// ---------------------------
#{headings()} {
	font-family: $heading;
	font-weight: 400;
	color: $primary;
	padding: 0;
	a { 
		color: $primary;
		&:hover, &:focus {
			color: $secondary; } } }

h1, .h1 {
	@include adjust-font-size-to(36px);
	margin: 0 0 em($line, 36px);
	[role="banner"] & {
		font-family: "cubano";
		font-size: em($line*2, $base-font-size);
		font-size: 5vw;
		text-align: center;
		display: block;
		color: $secondary; } }
h2, .h2 {
	@include adjust-font-size-to(30px);
	margin: 0 0 em($line, 30px); }
h3, .h3 {
	@include adjust-font-size-to(24px);
	margin: 0 0 em($line, 24px); }
h4, .h4 {
	@include adjust-font-size-to(21px);
	margin: 0 0 em($base-px, 21px); }
h5, .h5 {
	@include adjust-font-size-to(18px);
	margin: 0 0 em($base-px, 18px); }
h6, .h6 {
	@include adjust-font-size-to($base-font-size);
	margin: 0 0 em($base-px, 16px); }

.with-subheading {
	margin: 0; }
.subheading {
	font-weight: 400;
	color: scale-lightness($primary, 10%); }

.mask {
	-webkit-mask: image-url("mask.png") 200px -25px; }

// General
// ---------------------------
p, li {
	font: $base-font-size/#{$base-line-height} $body; }

a {
	text-decoration: none;
	color: $secondary;
	@extend %transition;
	&:hover, &:focus {
		color: $primary; } }

.text-center {
	text-align: center; }
