// Form basic styles
// ---------------------------
@mixin form-base(
	$type: $default-form-type,
	$radius: $default-form-radius,
	$size: $default-form-size) {
	
	@extend %form-base;
	
	@if $radius { 
		border-radius: $radius; }
		
	@if $size {
		padding: element-size($size, $equal: true); } }
		
%form-base {
	@extend %input-reset;
	border: none;
	font-family: $form;
	outline: none;
	max-width: 100%;
	color: $primary;
	line-height: normal; }

%form-base-with-mixin {
	@extend %form-base;
	@include form-base; }

%form-block {
	display: block;
	width: 100%; }

%form-boolean-base {
	-webkit-appearance: none;
	border: none; }

%form-checkbox-radius {
	border-radius: $radius; }

%form-radio-radius {
	border-radius: $radius * 10; }