@import "variables";

// Text
// ---------------------------
@mixin form-text(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color) {
	
	@include form-shading(text, $main-color, normal);
	
	&:focus {
		@include form-shading(text, $focus-color, focus); } }

// Select
// ---------------------------
@mixin form-select(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color) {
	
	@include form-shading(select, $main-color, normal);
	
	&:focus {
		@include form-shading(select, $focus-color, focus); } }

// Check
// ---------------------------
@mixin form-boolean(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color,
	$margin: $default-form-boolean-margin) {
	
	@include form-shading(boolean, $main-color, normal);
	@include wh(em($base-px));
	margin: $margin; }