// Variables
// ---------------------------
$default-flex-namespace: "flex" !default;
$default-flex-column-namespace: "w" !default;
$default-flex-columns: 12 !default;
$default-flex-gutter: map-get($default, spacing) * 2 !default;

// Add additional sizes if necessary, highly recommended you change this to be
// tailored to your breakpoints, that match the design.
$default-flex-map: $default-breakpoint-map !default;

// Grid widths
// ---------------------------
@mixin flex-width(
	$grid-columns	: $default-grid-columns,
	$grid-map			: $default-grid-map
) {
	$column-increment: 1;

	@for $column-increment from 1 through $grid-columns {
		#{"." + unquote($default-grid-column-namespace)}-#{$column-increment} {
			$w: (100% / $grid-columns) * $column-increment;
			width: $w; } } }

@mixin flex-width-responsive(
	$grid-columns	: $default-grid-columns,
	$grid-map			: $default-grid-map
) {
	$column-increment: 1;

	@each $breakpoint, $width in $grid-map {
		$class: #{"." + unquote($default-grid-column-namespace)};

		@include breakpoint($width) {
			@for $column-increment from 1 through $grid-columns {
				#{$class}-#{$column-increment}-#{$breakpoint} {
					$w: (100% / $grid-columns) * $column-increment;
					width: $w; } } } } }

// Simple grid using
// display: inline-block
// ---------------------------
@mixin flex(
	$grid-columns	: $default-grid-columns,
	$grid-gutter	: $default-grid-gutter,
	$grid-map			: $default-grid-map
) {
	// Regular widths
	@include flex-width($grid-columns, $grid-map);

	// Make responsive widths
	@include flex-width-responsive($grid-columns, $grid-map); }
