//	Your traditional helper classes through
//	mixins and extends
// 	-----------------------------------------

// General extends
// ---------------------------
%transition {
	@include transition(
		color $default-transition-duration,
		background-color $default-transition-duration,
		border-color $default-transition-duration); }

%rounded {
	border-radius: $radius; }

%shadow {
	box-shadow: 0 1px 3px rgba($black, $default-dark-shadow); }

%left {
	float: left; }

%right {
	float: right; }
	
%grid,
%clear {
	@include pie-clearfix; }

// Hiding
// ---------------------------
.hidden {
	display: none; }
	
%screenreaders {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

// Resets
// ---------------------------
%no-outline {
	outline: none; }
	
%input-reset {
	@include appearance(none); }
	
%no-list-style {
	list-style: none; }

// Margins and paddings
// ---------------------------
%centre {
	margin: auto; }
	
%no-mp {
	margin: 0;
	padding: 0; }

%margin-bottom {
	margin: 0 0 rem($base-px);

	@include for-legacy-browser("ie", "5.5", "8") {
		.no-rem & {
			margin: 0 0 $base-px; } } }
	
%margin-bottom-large {
	margin: 0 0 rem($line);

	@include for-legacy-browser("ie", "5.5", "8") {
		.no-rem & {
			margin: 0 0 $line; } } }

// Colour use
// ---------------------------
%primary {
	color: $primary; }
	
%secondary {
	color: $secondary; }
	
%tertiary {
	color: $tertiary; }

// Font size
// ---------------------------
%base-font-size {
	font-size: em($base-font-size, $base-font-size); }

// Sizes
// ---------------------------
.xxlarge {
	font-size: $xxlarge-size; }
	
.xlarge {
	font-size: $xlarge-size; }
	
.large {
	font-size: $large-size; }

.normal {
	font-size: $normal-size; }
	
.small {
	font-size: $small-size; }
	
.xsmall {
	font-size: $xsmall-size; }
	
.xxsmall {
	font-size: $xxsmall-size; }

// Mixins
// ---------------------------

// set width and height,
// pass one value to have both set for you
@mixin wh(
	$width	: false,
	$height	: false
) {
	$width: unquote($width);
	
	@if $height != none {
		$height: unquote($height); }

	@if $height {
		width: #{$width};
		height: #{$height}; }
		
	@else {
		width: #{$width};
		height: #{$width}; } }

// Sets the height of stuff with the line height to match
// ---------------------------
@mixin set-height(
	$set-height	: $default-set-height,
	$padding		: $default-set-height-padding,
	$context		: $default-context
) {

	$set-height: if($set-height == true, em($default-set-height), em($set-height, $context));
		
	height: $set-height;
	line-height: $set-height;
	
	@if $padding {
		padding: $padding; } }

// Layout
// ---------------------------
%two-columns {
	@include column-count(2);
	@include column-gap(em($line*2));
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	break-inside: avoid; }

// Inline block
// ---------------------------
%inline-block {
	display: inline-block; }
	
%vertical-align-top {
	@extend %inline-block;
	vertical-align: top; }

%vertical-align-middle {
	@extend %inline-block;
	vertical-align: middle; }

%vertical-align-bottom {
	@extend %inline-block;
	vertical-align: bottom; }

// Entry widths
// ---------------------------
%entry-half {
	@extend %vertical-align-bottom;
	width: 50%; }

// Module last margin removal
// ---------------------------
%module > *:last-child,
%module > *:last-child > *:last-child,
%module > *:last-child > *:last-child > *:last-child {
  margin: 0; }