// UI base
// ---------------------------
// Apply to buttons and form elements to normalise their styling
// ---------------------------
// .button { @include ui-base; }
// <button class="button"></button>
// ---------------------------
// .input { @include ui-base; }
// <input type="text" class="input">
// ---------------------------
// Alternatively make a .ui-base class to apply to both inputs and buttons
// ---------------------------

// [1]: Removes tricky to get rid of default browser styling
// [2]: Normalise the line height, particularly for older firefox. Normal is the equivalent to 1.2
// [3]: We don't want sizing to be affected by a border, so box-shadow is applied for styling
// [4]: Background bleed issue
@mixin ui-base($options: $default-ui-base) { 
  // Normalise
  -webkit-appearance: none; // [1]
	-moz-appearance: none; // [1]
  appearance: none; // [1]
  line-height: normal; // [2]
  border: none; // [3]
  background-clip: padding-box; // [4]
  
  // Stylistic normalisation
  outline: none;
	max-width: 100%;
  position: relative;
  font-size: map-get($options, font-size);
  font-family: map-get($options, font-family);
  padding: map-get($options, padding);
  line-height: map-get($options, line-height); }