// UI base
// ---------------------------
// Apply to buttons and form elements to normalise their styling
// ---------------------------
// .button { @include ui-base; }
// <button class="button"></button>
// ---------------------------
// .input { @include ui-base; }
// <input type="text" class="input">
// ---------------------------
// Alternatively make a .ui-base class to apply to both inputs and buttons
// ---------------------------

// [1]: Removes tricky to get rid of default browser styling
// [2]: Normalise the line height, particularly for older firefox. Defaults to 'normal' this is the equivalent to 1.2
// [3]: We don't want sizing to be affected by a border, so box-shadow is applied for styling
// [4]: Applying styles to links will ensure text-decoration is always removed
// [5]: 9/10 times this is the best display
@mixin ui-base($options: $default-ui-base) { 
  // Normalise
  -webkit-appearance: none; // [1]
	-moz-appearance: none; // [1]
  appearance: none; // [1]
  line-height: map-get($options, line-height); // [2]
  border: none; // [3]
  text-decoration: none; // [4]
  display: inline-block; // [5]
  
  // Stylistic normalisation
  outline: none;
	max-width: 100%;
  position: relative;
  
  @if map-get($options, font-size) != false {
    font-size: map-get($options, font-size); }
    
  @if map-get($options, font-family) != false {  
    font-family: map-get($options, font-family); }
  
  @if map-get($options, padding) != false {  
    padding: map-get($options, padding); } }