<p><a href="#" class="button button-primary">button-primary</a></p>
<p><a href="#" class="button button-secondary">button-secondary</a></p>
<p><a href="#" class="button button-tertiary">button-tertiary</a></p>
<p><a href="#" class="button button-neutral">button-neutral</a></p>
<p><a href="#" class="button button-danger">button-danger</a></p>
<p><a href="#" class="button button-success">button-success</a></p>
<p><a href="#" class="button button-info">button-info</a></p>
<p><a href="#" class="button button-warning">button-warning</a></p>