// Shared
// ---------------------------
@import "element/color_adjust", "element/variables", "element/shading", "element/base";

// Element — A base, mixin and options
// Style notices/alerts, buttons, etc 
// -----------------------------------------
@mixin element(
	$main-color	: $default-element-main-color,
	$text-shadow: $default-element-text-shadow,
	$dark-bg		: $default-element-dark-bg,
	$radius			: $default-element-radius,
	$shading		: $default-element-shading,
	$size				: $default-element-size,
	$hover			: $default-element-hover,
	$font-size	: $default-element-font-size,
	$display		: $default-element-display,
	$dry				: $default-element-dry
) {
	
	// Use element-base mixin to keep repetitive stuff together
	@if $dry == false {		
		@include element-base($size, $font-size, $radius, $display); }
	
	@else { 
		@extend %element-base-with-mixin; }

	@if $shading {
		@include element-shading($main-color, normal, $text-shadow, $dark-bg); }
	
	@else {
		background: $main-color; }
			
	@if $hover {
		&:hover, &:focus {
			@if $shading {
				@include element-shading($main-color, hover, $text-shadow, $dark-bg); }
			
			@else {
				background: scale-lightness($main-color, 10%); } }
				
		&:active {
			z-index: 2; // makes button above others in a group
			
			@if $shading {
				@include element-shading($main-color, active, $text-shadow, $dark-bg); }
			
			@else {
				background: scale-lightness($main-color, -10%); } } } }