// Import related files
// ---------------------------
@import "form/variables", "form/base", "form/type", "form/label", "form/shading",  "form/placeholder.scss";

@mixin form(
	$type: $default-form-type,
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color,
	$state: $default-form-state,
	$radius: $default-form-radius, 
	$shading: $default-form-shading,
	$set-height: $default-form-set-height,
	$dry: $default-form-dry,
	$text-elements: $default-text-elements,
	$check-elements: $default-check-elements) {
	
	// Text
	// ---------------------------
	@if index($text-elements, unquote($type)) {
		@include form-text($main-color, $focus-color, $background-color); }
	
	// Select
	// ---------------------------
	@else if unquote($type) == select {
		@include form-select($main-color, $focus-color, $background-color); }
	
	// Check
	// ---------------------------
	@else if index($check-elements, unquote($type)) {
		@include form-check($main-color, $focus-color, $background-color); }
		
	// Submit
	// ---------------------------
	@else if $type == submit {
		@warn "Please use element mixin to style submit buttons."; }
	
	// Not supported
	// ---------------------------
	@else {
		@warn "#{$type} not supported."; }
	
	// Reusability
	// ---------------------------
	@if $dry == false and $type != (radio or check) {
		@include form-base(
			$type: $default-form-type,
			$radius: $default-form-radius,
			$set-height: $default-form-set-height); }
			
	@else if $dry and $type != (radio or check) {
		@extend %form-base-with-mixin; } }