/*
	Reset & Basic styles
-----------------------------------------------------------------------*/
/* line 4, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
html, body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
}

/* line 20, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
html, body, input, select,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a,
abbr, acronym, address, cite,
code, del, dfn, em, img, q, s,
samp, small, strike, strong,
sub, sup, tt, var,
dd, dl, dt, lis,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
}

/* line 26, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 29, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 31, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 34, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
[hidden] {
  display: none;
}

/* line 37, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
nav ul, nav li, footer ul, footer li {
  list-style: none;
}

/* line 39, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
ul, ol {
  margin: 1em 0 1em 20px;
  padding: 0;
}

/* line 43, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 47, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 53, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

/* line 56, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 60, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
hr {
  display: block;
  border: none;
  background: #ccc;
  height: 1px;
}

/* line 66, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 68, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
:focus {
  outline: auto 1px -webkit-focus-ring-color;
  outline-offset: -2px;
  -moz-outline: -moz-mac-focusring solid 2px;
  -moz-outline-radius: 5px;
  -moz-outline-offset: 0;
}

/* line 74, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
::-moz-selection {
  background: #edbe5e;
  color: #fff;
  text-shadow: none;
}

/* line 76, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
::selection {
  background: #edbe5e;
  color: #fff;
  text-shadow: none;
}

/* line 79, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 81, /Users/Steve/Documents/Sites/framework/assets/sass/import/_reset.scss */
img {
  max-width: 100%;
}
