@charset "UTF-8";
/*
$legacy-support-for-ie: true;
$legacy-support-for-mozilla: true;
$legacy-support-for-ie7: false;
*/
/* normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* line 2, ../sass/import/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 5, ../sass/import/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 11, ../sass/import/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 14, ../sass/import/_normalize.scss */
[hidden] {
  display: none;
}

/* line 17, ../sass/import/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* line 22, ../sass/import/_normalize.scss */
body {
  margin: 0;
}

/* line 25, ../sass/import/_normalize.scss */
a:hover, a:active, a:focus {
  outline: 0;
}

/* line 28, ../sass/import/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 31, ../sass/import/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 34, ../sass/import/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 37, ../sass/import/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 41, ../sass/import/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

/* line 44, ../sass/import/_normalize.scss */
q {
  quotes: none;
}
/* line 46, ../sass/import/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../sass/import/_normalize.scss */
small {
  font-size: 75%;
}

/* line 54, ../sass/import/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 60, ../sass/import/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 62, ../sass/import/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 65, ../sass/import/_normalize.scss */
dl, menu, ol, ul {
  margin: 0;
  padding: 0;
}

/* line 68, ../sass/import/_normalize.scss */
dd {
  margin: 0 0 0 24px;
}

/* line 70, ../sass/import/_normalize.scss */
menu, ol, ul {
  padding: 0 0 0 24px;
}

/* line 72, ../sass/import/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 76, ../sass/import/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

/* line 81, ../sass/import/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 84, ../sass/import/_normalize.scss */
figure, form {
  margin: 0;
}

/* line 87, ../sass/import/_normalize.scss */
fieldset {
  border: none;
  margin: 0 0 12px;
  padding: 0;
}

/* line 92, ../sass/import/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 99, ../sass/import/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 106, ../sass/import/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 109, ../sass/import/_normalize.scss */
button, [type="button"], [type="reset"], [type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 115, ../sass/import/_normalize.scss */
[disabled] {
  cursor: default;
}

/* line 119, ../sass/import/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 125, ../sass/import/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* line 129, ../sass/import/_normalize.scss */
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 133, ../sass/import/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 137, ../sass/import/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 141, ../sass/import/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 145, ../sass/import/_normalize.scss */
:focus {
  outline: 1px solid #444;
}

/* line 147, ../sass/import/_normalize.scss */
::-moz-selection {
  background: #687a92;
  color: #fff;
  text-shadow: none;
}

/* line 149, ../sass/import/_normalize.scss */
::selection {
  background: #687a92;
  color: #fff;
  text-shadow: none;
}

/* line 12, ../sass/import/_helpers.scss */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 23, ../sass/import/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 34, ../sass/import/_helpers.scss */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 16, ../sass/import/_element.scss */
[role="navigation"], .button, .button2, .button3, .button4, .button5, .button6, .button7, [type="submit"] {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 600;
}

/* line 4, ../sass/import/_forms.scss */
input {
  border: none;
  font-family: "freight-sans-pro", sans-serif;
  display: block;
  outline: none;
}

/*
@mixin form-label($position: "top") {
	@if $position == "top" {
		width: 100%; }
	@else {
		width: 33.333333333%;
		float: left;
		& + input {} } }
*/
/* # To do
 * - form label position?
 * - input type?
 * - status: error, success, disabled
 */
/*
	Site structure
-----------------------------------------------------------------------*/
/* line 6, ../sass/master.scss */
html {
  background: #f8f6f3;
  color: #383a3d;
  font-size: 100%;
  font-family: "a";
}
@media screen and (min-width: 37.5em) {
  /* line 6, ../sass/master.scss */
  html {
    font-family: "b";
  }
}
@media screen and (min-width: 48em) {
  /* line 6, ../sass/master.scss */
  html {
    font-family: "c";
  }
}
@media screen and (min-width: 60em) {
  /* line 6, ../sass/master.scss */
  html {
    font-family: "d";
  }
}
@media screen and (min-width: 75em) {
  /* line 6, ../sass/master.scss */
  html {
    font-family: "e";
  }
}
@media screen and (min-width: 90em) {
  /* line 6, ../sass/master.scss */
  html {
    font-family: "f";
  }
}

/* line 22, ../sass/master.scss */
.container {
  margin: auto;
  padding: 5%;
  max-width: 760px;
}

/* line 35, ../sass/master.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr,
header, section, footer {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 38, ../sass/master.scss */
[role="main"] {
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

/* line 47, ../sass/master.scss */
[role="navigation"] {
  *zoom: 1;
  display: inline-block;
  color: white;
  padding: 0.375em 0.75em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(104, 122, 146, 0.8)), color-stop(60%, rgba(83, 98, 117, 0.8))), #687a92;
  background: -webkit-linear-gradient(rgba(104, 122, 146, 0.8) 0%, rgba(83, 98, 117, 0.8) 60%), #687a92;
  background: -moz-linear-gradient(rgba(104, 122, 146, 0.8) 0%, rgba(83, 98, 117, 0.8) 60%), #687a92;
  background: -o-linear-gradient(rgba(104, 122, 146, 0.8) 0%, rgba(83, 98, 117, 0.8) 60%), #687a92;
  background: linear-gradient(rgba(104, 122, 146, 0.8) 0%, rgba(83, 98, 117, 0.8) 60%), #687a92;
  -webkit-box-shadow: inset 0 -1px 0 #434e5d, inset 0 0 0 1px #536275, inset 0 2px 0 #7e8ea3, inset 0 -1px 3px #536275, inset -1px -3px 12px -3px rgba(67, 78, 93, 0.2), inset 1px -3px 12px -3px rgba(67, 78, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #434e5d, inset 0 0 0 1px #536275, inset 0 2px 0 #7e8ea3, inset 0 -1px 3px #536275, inset -1px -3px 12px -3px rgba(67, 78, 93, 0.2), inset 1px -3px 12px -3px rgba(67, 78, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #434e5d, inset 0 0 0 1px #536275, inset 0 2px 0 #7e8ea3, inset 0 -1px 3px #536275, inset -1px -3px 12px -3px rgba(67, 78, 93, 0.2), inset 1px -3px 12px -3px rgba(67, 78, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(67, 78, 93, 0.6);
  font-family: "adelle", ff-meta-serif-web-pro, georgia, serif;
  width: 100%;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
[role="navigation"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow [role="navigation"] {
  border: 1px solid #434e5d;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients [role="navigation"] {
  background: #687a92;
}
/* line 52, ../sass/master.scss */
[role="navigation"] ul {
  *zoom: 1;
  padding: 0;
  margin: 0;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
[role="navigation"] ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 56, ../sass/master.scss */
[role="navigation"] li {
  float: left;
}
/* line 59, ../sass/master.scss */
[role="navigation"] li:last-child a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
/* line 62, ../sass/master.scss */
[role="navigation"] a {
  padding: 12px 24px;
  padding:  0.75rem 1.5rem;
  -webkit-box-shadow: 1px 0 0 rgba(134, 149, 168, 0.35);
  -moz-box-shadow: 1px 0 0 rgba(134, 149, 168, 0.35);
  box-shadow: 1px 0 0 rgba(134, 149, 168, 0.35);
  font-family: "freight-sans-pro", sans-serif;
  color: white;
  display: block;
  border-right: 1px solid rgba(68, 79, 95, 0.5);
}

/* line 72, ../sass/master.scss */
[role="contentinfo"] {
  padding: 24px 0 0;
  padding:  1.5rem 0 0;
  border-top: 1px solid #e5ded3;
}
/* line 75, ../sass/master.scss */
[role="contentinfo"] ul {
  padding: 0;
}
/* line 77, ../sass/master.scss */
[role="contentinfo"] li {
  list-style: none;
  font-family: "adelle", ff-meta-serif-web-pro, georgia, serif;
}

/* line 1, ../sass/styles/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "freight-sans-pro", sans-serif;
  padding: 0;
  margin: 0;
  display: block;
}

/* line 7, ../sass/styles/_typography.scss */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
}
/* line 9, ../sass/styles/_typography.scss */
[role="banner"] h1 {
  padding: 0 0 12px;
  padding:  0 0 0.75rem;
  text-transform: uppercase;
}

/* line 12, ../sass/styles/_typography.scss */
h2 {
  font-size: 30px;
}

/* line 14, ../sass/styles/_typography.scss */
h3 {
  font-size: 24px;
}

/* line 16, ../sass/styles/_typography.scss */
h4 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 20, ../sass/styles/_typography.scss */
h5 {
  font-size: 16px;
}

/* line 22, ../sass/styles/_typography.scss */
h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 27, ../sass/styles/_typography.scss */
p {
  font: 1em/1.5em "adelle", ff-meta-serif-web-pro, georgia, serif;
}

/* line 30, ../sass/styles/_typography.scss */
a {
  text-decoration: none;
  color: #687a92;
}
/* line 34, ../sass/styles/_typography.scss */
a:hover, a:focus {
  color: #383a3d;
}

/* line 36, ../sass/styles/_typography.scss */
p, li {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* line 88, ../sass/master.scss */
blockquote p {
  position: relative;
  z-index: 1;
}
/* line 91, ../sass/master.scss */
blockquote:before {
  content: '“';
}

/* line 101, ../sass/master.scss */
.button {
  display: inline-block;
  color: #666666;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(238, 238, 238, 0.8)), color-stop(60%, rgba(190, 190, 190, 0.8))), #eeeeee;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 60%), #eeeeee;
  background: -moz-linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 60%), #eeeeee;
  background: -o-linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 60%), #eeeeee;
  background: linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 60%), #eeeeee;
  -webkit-box-shadow: inset 0 -1px 0 #989898, inset 0 0 0 1px #bebebe, inset 0 2px 0 #f2f2f2, inset 0 -1px 3px #bebebe, inset -1px -3px 12px -3px rgba(152, 152, 152, 0.2), inset 1px -3px 12px -3px rgba(152, 152, 152, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #989898, inset 0 0 0 1px #bebebe, inset 0 2px 0 #f2f2f2, inset 0 -1px 3px #bebebe, inset -1px -3px 12px -3px rgba(152, 152, 152, 0.2), inset 1px -3px 12px -3px rgba(152, 152, 152, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #989898, inset 0 0 0 1px #bebebe, inset 0 2px 0 #f2f2f2, inset 0 -1px 3px #bebebe, inset -1px -3px 12px -3px rgba(152, 152, 152, 0.2), inset 1px -3px 12px -3px rgba(152, 152, 152, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(242, 242, 242, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow .button {
  border: 1px solid #989898;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients .button {
  background: #eeeeee;
}
/* line 142, ../sass/import/_element.scss */
.button:hover, .button:focus {
  color: #666666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(240, 240, 240, 0.8)), color-stop(60%, rgba(197, 197, 197, 0.8))), #f0f0f0;
  background: -webkit-linear-gradient(rgba(240, 240, 240, 0.8) 0%, rgba(197, 197, 197, 0.8) 60%), #f0f0f0;
  background: -moz-linear-gradient(rgba(240, 240, 240, 0.8) 0%, rgba(197, 197, 197, 0.8) 60%), #f0f0f0;
  background: -o-linear-gradient(rgba(240, 240, 240, 0.8) 0%, rgba(197, 197, 197, 0.8) 60%), #f0f0f0;
  background: linear-gradient(rgba(240, 240, 240, 0.8) 0%, rgba(197, 197, 197, 0.8) 60%), #f0f0f0;
  -webkit-box-shadow: inset 0 -1px 0 #9d9d9d, inset 0 0 0 1px #c5c5c5, inset 0 2px 0 #f4f4f4, inset 0 -1px 3px #c5c5c5, inset -1px -3px 12px -3px rgba(157, 157, 157, 0.2), inset 1px -3px 12px -3px rgba(157, 157, 157, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #9d9d9d, inset 0 0 0 1px #c5c5c5, inset 0 2px 0 #f4f4f4, inset 0 -1px 3px #c5c5c5, inset -1px -3px 12px -3px rgba(157, 157, 157, 0.2), inset 1px -3px 12px -3px rgba(157, 157, 157, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #9d9d9d, inset 0 0 0 1px #c5c5c5, inset 0 2px 0 #f4f4f4, inset 0 -1px 3px #c5c5c5, inset -1px -3px 12px -3px rgba(157, 157, 157, 0.2), inset 1px -3px 12px -3px rgba(157, 157, 157, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(244, 244, 244, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button:hover, .no-boxshadow .button:focus {
  border: 1px solid #9d9d9d;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button:hover, .no-cssgradients .button:focus {
  background: #f0f0f0;
}
/* line 168, ../sass/import/_element.scss */
.button:active {
  color: #666666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(238, 238, 238, 0.8)), color-stop(80%, rgba(190, 190, 190, 0.8))), #eeeeee;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 80%), #eeeeee;
  background: -moz-linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 80%), #eeeeee;
  background: -o-linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 80%), #eeeeee;
  background: linear-gradient(rgba(238, 238, 238, 0.8) 0%, rgba(190, 190, 190, 0.8) 80%), #eeeeee;
  -webkit-box-shadow: inset 0 1px 0 #919191, inset 0 0 0 1px #b5b5b5, inset 0 2px 3px #b5b5b5, inset -1px -3px 12px -3px rgba(145, 145, 145, 0.2), inset 1px -3px 12px -3px rgba(145, 145, 145, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #919191, inset 0 0 0 1px #b5b5b5, inset 0 2px 3px #b5b5b5, inset -1px -3px 12px -3px rgba(145, 145, 145, 0.2), inset 1px -3px 12px -3px rgba(145, 145, 145, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #919191, inset 0 0 0 1px #b5b5b5, inset 0 2px 3px #b5b5b5, inset -1px -3px 12px -3px rgba(145, 145, 145, 0.2), inset 1px -3px 12px -3px rgba(145, 145, 145, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(242, 242, 242, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button:active {
  border: 1px solid #919191;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button:active {
  background: #eeeeee;
}

/* line 103, ../sass/master.scss */
.button2 {
  display: inline-block;
  color: white;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(58, 154, 201, 0.8)), color-stop(60%, rgba(45, 124, 163, 0.8))), #3a9ac9;
  background: -webkit-linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 60%), #3a9ac9;
  background: -moz-linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 60%), #3a9ac9;
  background: -o-linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 60%), #3a9ac9;
  background: linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 60%), #3a9ac9;
  -webkit-box-shadow: inset 0 -1px 0 #246382, inset 0 0 0 1px #2d7ca3, inset 0 2px 0 #6bb3d6, inset 0 -1px 3px #2d7ca3, inset -1px -3px 12px -3px rgba(36, 99, 130, 0.2), inset 1px -3px 12px -3px rgba(36, 99, 130, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #246382, inset 0 0 0 1px #2d7ca3, inset 0 2px 0 #6bb3d6, inset 0 -1px 3px #2d7ca3, inset -1px -3px 12px -3px rgba(36, 99, 130, 0.2), inset 1px -3px 12px -3px rgba(36, 99, 130, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #246382, inset 0 0 0 1px #2d7ca3, inset 0 2px 0 #6bb3d6, inset 0 -1px 3px #2d7ca3, inset -1px -3px 12px -3px rgba(36, 99, 130, 0.2), inset 1px -3px 12px -3px rgba(36, 99, 130, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(36, 99, 130, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow .button2 {
  border: 1px solid #246382;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients .button2 {
  background: #3a9ac9;
}
/* line 142, ../sass/import/_element.scss */
.button2:hover, .button2:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(78, 164, 206, 0.8)), color-stop(60%, rgba(51, 142, 186, 0.8))), #4ea4ce;
  background: -webkit-linear-gradient(rgba(78, 164, 206, 0.8) 0%, rgba(51, 142, 186, 0.8) 60%), #4ea4ce;
  background: -moz-linear-gradient(rgba(78, 164, 206, 0.8) 0%, rgba(51, 142, 186, 0.8) 60%), #4ea4ce;
  background: -o-linear-gradient(rgba(78, 164, 206, 0.8) 0%, rgba(51, 142, 186, 0.8) 60%), #4ea4ce;
  background: linear-gradient(rgba(78, 164, 206, 0.8) 0%, rgba(51, 142, 186, 0.8) 60%), #4ea4ce;
  -webkit-box-shadow: inset 0 -1px 0 #297295, inset 0 0 0 1px #338eba, inset 0 2px 0 #7abbdb, inset 0 -1px 3px #338eba, inset -1px -3px 12px -3px rgba(41, 114, 149, 0.2), inset 1px -3px 12px -3px rgba(41, 114, 149, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #297295, inset 0 0 0 1px #338eba, inset 0 2px 0 #7abbdb, inset 0 -1px 3px #338eba, inset -1px -3px 12px -3px rgba(41, 114, 149, 0.2), inset 1px -3px 12px -3px rgba(41, 114, 149, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #297295, inset 0 0 0 1px #338eba, inset 0 2px 0 #7abbdb, inset 0 -1px 3px #338eba, inset -1px -3px 12px -3px rgba(41, 114, 149, 0.2), inset 1px -3px 12px -3px rgba(41, 114, 149, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(41, 114, 149, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button2:hover, .no-boxshadow .button2:focus {
  border: 1px solid #297295;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button2:hover, .no-cssgradients .button2:focus {
  background: #4ea4ce;
}
/* line 168, ../sass/import/_element.scss */
.button2:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(58, 154, 201, 0.8)), color-stop(80%, rgba(45, 124, 163, 0.8))), #3a9ac9;
  background: -webkit-linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 80%), #3a9ac9;
  background: -moz-linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 80%), #3a9ac9;
  background: -o-linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 80%), #3a9ac9;
  background: linear-gradient(rgba(58, 154, 201, 0.8) 0%, rgba(45, 124, 163, 0.8) 80%), #3a9ac9;
  -webkit-box-shadow: inset 0 1px 0 #225e7c, inset 0 0 0 1px #2a769a, inset 0 2px 3px #2a769a, inset -1px -3px 12px -3px rgba(34, 94, 124, 0.2), inset 1px -3px 12px -3px rgba(34, 94, 124, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #225e7c, inset 0 0 0 1px #2a769a, inset 0 2px 3px #2a769a, inset -1px -3px 12px -3px rgba(34, 94, 124, 0.2), inset 1px -3px 12px -3px rgba(34, 94, 124, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #225e7c, inset 0 0 0 1px #2a769a, inset 0 2px 3px #2a769a, inset -1px -3px 12px -3px rgba(34, 94, 124, 0.2), inset 1px -3px 12px -3px rgba(34, 94, 124, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(30, 85, 111, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button2:active {
  border: 1px solid #225e7c;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button2:active {
  background: #3a9ac9;
}

/* line 105, ../sass/master.scss */
.button3 {
  display: inline-block;
  color: white;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 69, 61, 0.8)), color-stop(60%, rgba(192, 42, 34, 0.8))), #dd453d;
  background: -webkit-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 60%), #dd453d;
  background: -moz-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 60%), #dd453d;
  background: -o-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 60%), #dd453d;
  background: linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 60%), #dd453d;
  -webkit-box-shadow: inset 0 -1px 0 #9a211b, inset 0 0 0 1px #c02a22, inset 0 2px 0 #e6736d, inset 0 -1px 3px #c02a22, inset -1px -3px 12px -3px rgba(154, 33, 27, 0.2), inset 1px -3px 12px -3px rgba(154, 33, 27, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #9a211b, inset 0 0 0 1px #c02a22, inset 0 2px 0 #e6736d, inset 0 -1px 3px #c02a22, inset -1px -3px 12px -3px rgba(154, 33, 27, 0.2), inset 1px -3px 12px -3px rgba(154, 33, 27, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #9a211b, inset 0 0 0 1px #c02a22, inset 0 2px 0 #e6736d, inset 0 -1px 3px #c02a22, inset -1px -3px 12px -3px rgba(154, 33, 27, 0.2), inset 1px -3px 12px -3px rgba(154, 33, 27, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(154, 33, 27, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow .button3 {
  border: 1px solid #9a211b;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients .button3 {
  background: #dd453d;
}
/* line 142, ../sass/import/_element.scss */
.button3:hover, .button3:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(224, 88, 80, 0.8)), color-stop(60%, rgba(216, 47, 38, 0.8))), #e05850;
  background: -webkit-linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  background: -moz-linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  background: -o-linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  background: linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  -webkit-box-shadow: inset 0 -1px 0 #ad251e, inset 0 0 0 1px #d82f26, inset 0 2px 0 #e8817c, inset 0 -1px 3px #d82f26, inset -1px -3px 12px -3px rgba(173, 37, 30, 0.2), inset 1px -3px 12px -3px rgba(173, 37, 30, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #ad251e, inset 0 0 0 1px #d82f26, inset 0 2px 0 #e8817c, inset 0 -1px 3px #d82f26, inset -1px -3px 12px -3px rgba(173, 37, 30, 0.2), inset 1px -3px 12px -3px rgba(173, 37, 30, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #ad251e, inset 0 0 0 1px #d82f26, inset 0 2px 0 #e8817c, inset 0 -1px 3px #d82f26, inset -1px -3px 12px -3px rgba(173, 37, 30, 0.2), inset 1px -3px 12px -3px rgba(173, 37, 30, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(173, 37, 30, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button3:hover, .no-boxshadow .button3:focus {
  border: 1px solid #ad251e;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button3:hover, .no-cssgradients .button3:focus {
  background: #e05850;
}
/* line 168, ../sass/import/_element.scss */
.button3:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 69, 61, 0.8)), color-stop(80%, rgba(192, 42, 34, 0.8))), #dd453d;
  background: -webkit-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  background: -moz-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  background: -o-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  background: linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  -webkit-box-shadow: inset 0 1px 0 #92201a, inset 0 0 0 1px #b62720, inset 0 2px 3px #b62720, inset -1px -3px 12px -3px rgba(146, 32, 26, 0.2), inset 1px -3px 12px -3px rgba(146, 32, 26, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #92201a, inset 0 0 0 1px #b62720, inset 0 2px 3px #b62720, inset -1px -3px 12px -3px rgba(146, 32, 26, 0.2), inset 1px -3px 12px -3px rgba(146, 32, 26, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #92201a, inset 0 0 0 1px #b62720, inset 0 2px 3px #b62720, inset -1px -3px 12px -3px rgba(146, 32, 26, 0.2), inset 1px -3px 12px -3px rgba(146, 32, 26, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(131, 28, 23, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button3:active {
  border: 1px solid #92201a;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button3:active {
  background: #dd453d;
}

/* line 107, ../sass/master.scss */
.button4 {
  display: inline-block;
  color: #666666;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(102, 102, 102, 0);
  -moz-box-shadow: inset 0 0 0 1px rgba(102, 102, 102, 0);
  box-shadow: inset 0 0 0 1px rgba(102, 102, 102, 0);
}
/* line 110, ../sass/import/_element.scss */
.no-boxshadow .button4 {
  border: 1px solid transparent;
}
/* line 112, ../sass/import/_element.scss */
.no-cssgradients .button4 {
  background: #dd453d;
}
/* line 142, ../sass/import/_element.scss */
.button4:hover, .button4:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(224, 88, 80, 0.8)), color-stop(60%, rgba(216, 47, 38, 0.8))), #e05850;
  background: -webkit-linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  background: -moz-linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  background: -o-linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  background: linear-gradient(rgba(224, 88, 80, 0.8) 0%, rgba(216, 47, 38, 0.8) 60%), #e05850;
  -webkit-box-shadow: inset 0 -1px 0 #ad251e, inset 0 0 0 1px #d82f26, inset 0 2px 0 #e8817c, inset 0 -1px 3px #d82f26, inset -1px -3px 12px -3px rgba(173, 37, 30, 0.2), inset 1px -3px 12px -3px rgba(173, 37, 30, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #ad251e, inset 0 0 0 1px #d82f26, inset 0 2px 0 #e8817c, inset 0 -1px 3px #d82f26, inset -1px -3px 12px -3px rgba(173, 37, 30, 0.2), inset 1px -3px 12px -3px rgba(173, 37, 30, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #ad251e, inset 0 0 0 1px #d82f26, inset 0 2px 0 #e8817c, inset 0 -1px 3px #d82f26, inset -1px -3px 12px -3px rgba(173, 37, 30, 0.2), inset 1px -3px 12px -3px rgba(173, 37, 30, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(173, 37, 30, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button4:hover, .no-boxshadow .button4:focus {
  border: 1px solid #ad251e;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button4:hover, .no-cssgradients .button4:focus {
  background: #e05850;
}
/* line 168, ../sass/import/_element.scss */
.button4:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 69, 61, 0.8)), color-stop(80%, rgba(192, 42, 34, 0.8))), #dd453d;
  background: -webkit-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  background: -moz-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  background: -o-linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  background: linear-gradient(rgba(221, 69, 61, 0.8) 0%, rgba(192, 42, 34, 0.8) 80%), #dd453d;
  -webkit-box-shadow: inset 0 1px 0 #92201a, inset 0 0 0 1px #b62720, inset 0 2px 3px #b62720, inset -1px -3px 12px -3px rgba(146, 32, 26, 0.2), inset 1px -3px 12px -3px rgba(146, 32, 26, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #92201a, inset 0 0 0 1px #b62720, inset 0 2px 3px #b62720, inset -1px -3px 12px -3px rgba(146, 32, 26, 0.2), inset 1px -3px 12px -3px rgba(146, 32, 26, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #92201a, inset 0 0 0 1px #b62720, inset 0 2px 3px #b62720, inset -1px -3px 12px -3px rgba(146, 32, 26, 0.2), inset 1px -3px 12px -3px rgba(146, 32, 26, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(131, 28, 23, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button4:active {
  border: 1px solid #92201a;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button4:active {
  background: #dd453d;
}

/* line 110, ../sass/master.scss */
.button5 {
  display: inline-block;
  color: white;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 189, 48, 0.8)), color-stop(60%, rgba(220, 163, 13, 0.8))), #f3bd30;
  background: -webkit-linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 60%), #f3bd30;
  background: -moz-linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 60%), #f3bd30;
  background: -o-linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 60%), #f3bd30;
  background: linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 60%), #f3bd30;
  -webkit-box-shadow: inset 0 -1px 0 #b0820a, inset 0 0 0 1px #dca30d, inset 0 2px 0 #f6ce64, inset 0 -1px 3px #dca30d, inset -1px -3px 12px -3px rgba(176, 130, 10, 0.2), inset 1px -3px 12px -3px rgba(176, 130, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #b0820a, inset 0 0 0 1px #dca30d, inset 0 2px 0 #f6ce64, inset 0 -1px 3px #dca30d, inset -1px -3px 12px -3px rgba(176, 130, 10, 0.2), inset 1px -3px 12px -3px rgba(176, 130, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #b0820a, inset 0 0 0 1px #dca30d, inset 0 2px 0 #f6ce64, inset 0 -1px 3px #dca30d, inset -1px -3px 12px -3px rgba(176, 130, 10, 0.2), inset 1px -3px 12px -3px rgba(176, 130, 10, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(176, 130, 10, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow .button5 {
  border: 1px solid #b0820a;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients .button5 {
  background: #f3bd30;
}
/* line 142, ../sass/import/_element.scss */
.button5:hover, .button5:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(244, 196, 69, 0.8)), color-stop(60%, rgba(241, 180, 19, 0.8))), #f4c445;
  background: -webkit-linear-gradient(rgba(244, 196, 69, 0.8) 0%, rgba(241, 180, 19, 0.8) 60%), #f4c445;
  background: -moz-linear-gradient(rgba(244, 196, 69, 0.8) 0%, rgba(241, 180, 19, 0.8) 60%), #f4c445;
  background: -o-linear-gradient(rgba(244, 196, 69, 0.8) 0%, rgba(241, 180, 19, 0.8) 60%), #f4c445;
  background: linear-gradient(rgba(244, 196, 69, 0.8) 0%, rgba(241, 180, 19, 0.8) 60%), #f4c445;
  -webkit-box-shadow: inset 0 -1px 0 #c5920b, inset 0 0 0 1px #f1b413, inset 0 2px 0 #f7d273, inset 0 -1px 3px #f1b413, inset -1px -3px 12px -3px rgba(197, 146, 11, 0.2), inset 1px -3px 12px -3px rgba(197, 146, 11, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #c5920b, inset 0 0 0 1px #f1b413, inset 0 2px 0 #f7d273, inset 0 -1px 3px #f1b413, inset -1px -3px 12px -3px rgba(197, 146, 11, 0.2), inset 1px -3px 12px -3px rgba(197, 146, 11, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #c5920b, inset 0 0 0 1px #f1b413, inset 0 2px 0 #f7d273, inset 0 -1px 3px #f1b413, inset -1px -3px 12px -3px rgba(197, 146, 11, 0.2), inset 1px -3px 12px -3px rgba(197, 146, 11, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(197, 146, 11, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button5:hover, .no-boxshadow .button5:focus {
  border: 1px solid #c5920b;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button5:hover, .no-cssgradients .button5:focus {
  background: #f4c445;
}
/* line 168, ../sass/import/_element.scss */
.button5:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 189, 48, 0.8)), color-stop(80%, rgba(220, 163, 13, 0.8))), #f3bd30;
  background: -webkit-linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 80%), #f3bd30;
  background: -moz-linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 80%), #f3bd30;
  background: -o-linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 80%), #f3bd30;
  background: linear-gradient(rgba(243, 189, 48, 0.8) 0%, rgba(220, 163, 13, 0.8) 80%), #f3bd30;
  -webkit-box-shadow: inset 0 1px 0 #a77c0a, inset 0 0 0 1px #d19b0c, inset 0 2px 3px #d19b0c, inset -1px -3px 12px -3px rgba(167, 124, 10, 0.2), inset 1px -3px 12px -3px rgba(167, 124, 10, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #a77c0a, inset 0 0 0 1px #d19b0c, inset 0 2px 3px #d19b0c, inset -1px -3px 12px -3px rgba(167, 124, 10, 0.2), inset 1px -3px 12px -3px rgba(167, 124, 10, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #a77c0a, inset 0 0 0 1px #d19b0c, inset 0 2px 3px #d19b0c, inset -1px -3px 12px -3px rgba(167, 124, 10, 0.2), inset 1px -3px 12px -3px rgba(167, 124, 10, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(151, 111, 9, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button5:active {
  border: 1px solid #a77c0a;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button5:active {
  background: #f3bd30;
}

/* line 113, ../sass/master.scss */
.button6 {
  display: inline-block;
  color: white;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(136, 162, 61, 0.8)), color-stop(60%, rgba(109, 130, 49, 0.8))), #88a23d;
  background: -webkit-linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 60%), #88a23d;
  background: -moz-linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 60%), #88a23d;
  background: -o-linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 60%), #88a23d;
  background: linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 60%), #88a23d;
  -webkit-box-shadow: inset 0 -1px 0 #576827, inset 0 0 0 1px #6d8231, inset 0 2px 0 #a0bc4e, inset 0 -1px 3px #6d8231, inset -1px -3px 12px -3px rgba(87, 104, 39, 0.2), inset 1px -3px 12px -3px rgba(87, 104, 39, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #576827, inset 0 0 0 1px #6d8231, inset 0 2px 0 #a0bc4e, inset 0 -1px 3px #6d8231, inset -1px -3px 12px -3px rgba(87, 104, 39, 0.2), inset 1px -3px 12px -3px rgba(87, 104, 39, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #576827, inset 0 0 0 1px #6d8231, inset 0 2px 0 #a0bc4e, inset 0 -1px 3px #6d8231, inset -1px -3px 12px -3px rgba(87, 104, 39, 0.2), inset 1px -3px 12px -3px rgba(87, 104, 39, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(87, 104, 39, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow .button6 {
  border: 1px solid #576827;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients .button6 {
  background: #88a23d;
}
/* line 142, ../sass/import/_element.scss */
.button6:hover, .button6:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(154, 183, 69, 0.8)), color-stop(60%, rgba(129, 154, 58, 0.8))), #9ab745;
  background: -webkit-linear-gradient(rgba(154, 183, 69, 0.8) 0%, rgba(129, 154, 58, 0.8) 60%), #9ab745;
  background: -moz-linear-gradient(rgba(154, 183, 69, 0.8) 0%, rgba(129, 154, 58, 0.8) 60%), #9ab745;
  background: -o-linear-gradient(rgba(154, 183, 69, 0.8) 0%, rgba(129, 154, 58, 0.8) 60%), #9ab745;
  background: linear-gradient(rgba(154, 183, 69, 0.8) 0%, rgba(129, 154, 58, 0.8) 60%), #9ab745;
  -webkit-box-shadow: inset 0 -1px 0 #677b2e, inset 0 0 0 1px #819a3a, inset 0 2px 0 #a9c360, inset 0 -1px 3px #819a3a, inset -1px -3px 12px -3px rgba(103, 123, 46, 0.2), inset 1px -3px 12px -3px rgba(103, 123, 46, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #677b2e, inset 0 0 0 1px #819a3a, inset 0 2px 0 #a9c360, inset 0 -1px 3px #819a3a, inset -1px -3px 12px -3px rgba(103, 123, 46, 0.2), inset 1px -3px 12px -3px rgba(103, 123, 46, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #677b2e, inset 0 0 0 1px #819a3a, inset 0 2px 0 #a9c360, inset 0 -1px 3px #819a3a, inset -1px -3px 12px -3px rgba(103, 123, 46, 0.2), inset 1px -3px 12px -3px rgba(103, 123, 46, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(103, 123, 46, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button6:hover, .no-boxshadow .button6:focus {
  border: 1px solid #677b2e;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button6:hover, .no-cssgradients .button6:focus {
  background: #9ab745;
}
/* line 168, ../sass/import/_element.scss */
.button6:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(136, 162, 61, 0.8)), color-stop(80%, rgba(109, 130, 49, 0.8))), #88a23d;
  background: -webkit-linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 80%), #88a23d;
  background: -moz-linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 80%), #88a23d;
  background: -o-linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 80%), #88a23d;
  background: linear-gradient(rgba(136, 162, 61, 0.8) 0%, rgba(109, 130, 49, 0.8) 80%), #88a23d;
  -webkit-box-shadow: inset 0 1px 0 #536225, inset 0 0 0 1px #677b2e, inset 0 2px 3px #677b2e, inset -1px -3px 12px -3px rgba(83, 98, 37, 0.2), inset 1px -3px 12px -3px rgba(83, 98, 37, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #536225, inset 0 0 0 1px #677b2e, inset 0 2px 3px #677b2e, inset -1px -3px 12px -3px rgba(83, 98, 37, 0.2), inset 1px -3px 12px -3px rgba(83, 98, 37, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #536225, inset 0 0 0 1px #677b2e, inset 0 2px 3px #677b2e, inset -1px -3px 12px -3px rgba(83, 98, 37, 0.2), inset 1px -3px 12px -3px rgba(83, 98, 37, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(74, 89, 33, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button6:active {
  border: 1px solid #536225;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button6:active {
  background: #88a23d;
}

/* line 116, ../sass/master.scss */
.button7 {
  display: inline-block;
  color: white;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(113, 188, 197, 0.8)), color-stop(60%, rgba(72, 165, 176, 0.8))), #71bcc5;
  background: -webkit-linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 60%), #71bcc5;
  background: -moz-linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 60%), #71bcc5;
  background: -o-linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 60%), #71bcc5;
  background: linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 60%), #71bcc5;
  -webkit-box-shadow: inset 0 -1px 0 #3a848d, inset 0 0 0 1px #48a5b0, inset 0 2px 0 #95cdd3, inset 0 -1px 3px #48a5b0, inset -1px -3px 12px -3px rgba(58, 132, 141, 0.2), inset 1px -3px 12px -3px rgba(58, 132, 141, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #3a848d, inset 0 0 0 1px #48a5b0, inset 0 2px 0 #95cdd3, inset 0 -1px 3px #48a5b0, inset -1px -3px 12px -3px rgba(58, 132, 141, 0.2), inset 1px -3px 12px -3px rgba(58, 132, 141, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #3a848d, inset 0 0 0 1px #48a5b0, inset 0 2px 0 #95cdd3, inset 0 -1px 3px #48a5b0, inset -1px -3px 12px -3px rgba(58, 132, 141, 0.2), inset 1px -3px 12px -3px rgba(58, 132, 141, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(58, 132, 141, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow .button7 {
  border: 1px solid #3a848d;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients .button7 {
  background: #71bcc5;
}
/* line 142, ../sass/import/_element.scss */
.button7:hover, .button7:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(127, 195, 203, 0.8)), color-stop(60%, rgba(88, 176, 187, 0.8))), #7fc3cb;
  background: -webkit-linear-gradient(rgba(127, 195, 203, 0.8) 0%, rgba(88, 176, 187, 0.8) 60%), #7fc3cb;
  background: -moz-linear-gradient(rgba(127, 195, 203, 0.8) 0%, rgba(88, 176, 187, 0.8) 60%), #7fc3cb;
  background: -o-linear-gradient(rgba(127, 195, 203, 0.8) 0%, rgba(88, 176, 187, 0.8) 60%), #7fc3cb;
  background: linear-gradient(rgba(127, 195, 203, 0.8) 0%, rgba(88, 176, 187, 0.8) 60%), #7fc3cb;
  -webkit-box-shadow: inset 0 -1px 0 #40929c, inset 0 0 0 1px #58b0bb, inset 0 2px 0 #9fd2d8, inset 0 -1px 3px #58b0bb, inset -1px -3px 12px -3px rgba(64, 146, 156, 0.2), inset 1px -3px 12px -3px rgba(64, 146, 156, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #40929c, inset 0 0 0 1px #58b0bb, inset 0 2px 0 #9fd2d8, inset 0 -1px 3px #58b0bb, inset -1px -3px 12px -3px rgba(64, 146, 156, 0.2), inset 1px -3px 12px -3px rgba(64, 146, 156, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #40929c, inset 0 0 0 1px #58b0bb, inset 0 2px 0 #9fd2d8, inset 0 -1px 3px #58b0bb, inset -1px -3px 12px -3px rgba(64, 146, 156, 0.2), inset 1px -3px 12px -3px rgba(64, 146, 156, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(64, 146, 156, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow .button7:hover, .no-boxshadow .button7:focus {
  border: 1px solid #40929c;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients .button7:hover, .no-cssgradients .button7:focus {
  background: #7fc3cb;
}
/* line 168, ../sass/import/_element.scss */
.button7:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(113, 188, 197, 0.8)), color-stop(80%, rgba(72, 165, 176, 0.8))), #71bcc5;
  background: -webkit-linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 80%), #71bcc5;
  background: -moz-linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 80%), #71bcc5;
  background: -o-linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 80%), #71bcc5;
  background: linear-gradient(rgba(113, 188, 197, 0.8) 0%, rgba(72, 165, 176, 0.8) 80%), #71bcc5;
  -webkit-box-shadow: inset 0 1px 0 #377d86, inset 0 0 0 1px #449da7, inset 0 2px 3px #449da7, inset -1px -3px 12px -3px rgba(55, 125, 134, 0.2), inset 1px -3px 12px -3px rgba(55, 125, 134, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #377d86, inset 0 0 0 1px #449da7, inset 0 2px 3px #449da7, inset -1px -3px 12px -3px rgba(55, 125, 134, 0.2), inset 1px -3px 12px -3px rgba(55, 125, 134, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #377d86, inset 0 0 0 1px #449da7, inset 0 2px 3px #449da7, inset -1px -3px 12px -3px rgba(55, 125, 134, 0.2), inset 1px -3px 12px -3px rgba(55, 125, 134, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(49, 113, 120, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow .button7:active {
  border: 1px solid #377d86;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients .button7:active {
  background: #71bcc5;
}

/* line 121, ../sass/master.scss */
[class^="button"] {
  margin: 0 0 10px;
}

/* line 124, ../sass/master.scss */
input {
  -webkit-box-shadow: inset 0 0 0 1px #ececec, inset 0 2px 3px rgba(236, 236, 236, 0.2);
  -moz-box-shadow: inset 0 0 0 1px #ececec, inset 0 2px 3px rgba(236, 236, 236, 0.2);
  box-shadow: inset 0 0 0 1px #ececec, inset 0 2px 3px rgba(236, 236, 236, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0.75em 1.5em;
}
/* line 50, ../sass/import/_forms.scss */
.no-boxshadow input {
  border: 1px solid #ececec;
}

/* line 126, ../sass/master.scss */
[type="submit"] {
  display: inline-block;
  color: white;
  padding: 0.75em 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(228, 87, 87, 0.8)), color-stop(60%, rgba(217, 35, 35, 0.8))), #e45757;
  background: -webkit-linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 60%), #e45757;
  background: -moz-linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 60%), #e45757;
  background: -o-linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 60%), #e45757;
  background: linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 60%), #e45757;
  -webkit-box-shadow: inset 0 -1px 0 #ae1c1c, inset 0 0 0 1px #d92323, inset 0 2px 0 #eb8181, inset 0 -1px 3px #d92323, inset -1px -3px 12px -3px rgba(174, 28, 28, 0.2), inset 1px -3px 12px -3px rgba(174, 28, 28, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 #ae1c1c, inset 0 0 0 1px #d92323, inset 0 2px 0 #eb8181, inset 0 -1px 3px #d92323, inset -1px -3px 12px -3px rgba(174, 28, 28, 0.2), inset 1px -3px 12px -3px rgba(174, 28, 28, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 #ae1c1c, inset 0 0 0 1px #d92323, inset 0 2px 0 #eb8181, inset 0 -1px 3px #d92323, inset -1px -3px 12px -3px rgba(174, 28, 28, 0.2), inset 1px -3px 12px -3px rgba(174, 28, 28, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(174, 28, 28, 0.6);
}
/* line 136, ../sass/import/_element.scss */
.no-boxshadow [type="submit"] {
  border: 1px solid #ae1c1c;
}
/* line 138, ../sass/import/_element.scss */
.no-cssgradients [type="submit"] {
  background: #e45757;
}
/* line 142, ../sass/import/_element.scss */
[type="submit"]:hover, [type="submit"]:focus {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(231, 104, 104, 0.8)), color-stop(60%, rgba(223, 55, 55, 0.8))), #e76868;
  background: -webkit-linear-gradient(rgba(231, 104, 104, 0.8) 0%, rgba(223, 55, 55, 0.8) 60%), #e76868;
  background: -moz-linear-gradient(rgba(231, 104, 104, 0.8) 0%, rgba(223, 55, 55, 0.8) 60%), #e76868;
  background: -o-linear-gradient(rgba(231, 104, 104, 0.8) 0%, rgba(223, 55, 55, 0.8) 60%), #e76868;
  background: linear-gradient(rgba(231, 104, 104, 0.8) 0%, rgba(223, 55, 55, 0.8) 60%), #e76868;
  -webkit-box-shadow: inset 0 -1px 0 #bf1f1f, inset 0 0 0 1px #df3737, inset 0 2px 0 #ed8e8e, inset 0 -1px 3px #df3737, inset -1px -3px 12px -3px rgba(191, 31, 31, 0.2), inset 1px -3px 12px -3px rgba(191, 31, 31, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -1px 0 #bf1f1f, inset 0 0 0 1px #df3737, inset 0 2px 0 #ed8e8e, inset 0 -1px 3px #df3737, inset -1px -3px 12px -3px rgba(191, 31, 31, 0.2), inset 1px -3px 12px -3px rgba(191, 31, 31, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 #bf1f1f, inset 0 0 0 1px #df3737, inset 0 2px 0 #ed8e8e, inset 0 -1px 3px #df3737, inset -1px -3px 12px -3px rgba(191, 31, 31, 0.2), inset 1px -3px 12px -3px rgba(191, 31, 31, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(191, 31, 31, 0.6);
}
/* line 163, ../sass/import/_element.scss */
.no-boxshadow [type="submit"]:hover, .no-boxshadow [type="submit"]:focus {
  border: 1px solid #bf1f1f;
}
/* line 165, ../sass/import/_element.scss */
.no-cssgradients [type="submit"]:hover, .no-cssgradients [type="submit"]:focus {
  background: #e76868;
}
/* line 168, ../sass/import/_element.scss */
[type="submit"]:active {
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(228, 87, 87, 0.8)), color-stop(80%, rgba(217, 35, 35, 0.8))), #e45757;
  background: -webkit-linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 80%), #e45757;
  background: -moz-linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 80%), #e45757;
  background: -o-linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 80%), #e45757;
  background: linear-gradient(rgba(228, 87, 87, 0.8) 0%, rgba(217, 35, 35, 0.8) 80%), #e45757;
  -webkit-box-shadow: inset 0 1px 0 #a51b1b, inset 0 0 0 1px #ce2121, inset 0 2px 3px #ce2121, inset -1px -3px 12px -3px rgba(165, 27, 27, 0.2), inset 1px -3px 12px -3px rgba(165, 27, 27, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 #a51b1b, inset 0 0 0 1px #ce2121, inset 0 2px 3px #ce2121, inset -1px -3px 12px -3px rgba(165, 27, 27, 0.2), inset 1px -3px 12px -3px rgba(165, 27, 27, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 #a51b1b, inset 0 0 0 1px #ce2121, inset 0 2px 3px #ce2121, inset -1px -3px 12px -3px rgba(165, 27, 27, 0.2), inset 1px -3px 12px -3px rgba(165, 27, 27, 0.2), 0 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(149, 24, 24, 0.6);
}
/* line 187, ../sass/import/_element.scss */
.no-boxshadow [type="submit"]:active {
  border: 1px solid #a51b1b;
}
/* line 189, ../sass/import/_element.scss */
.no-cssgradients [type="submit"]:active {
  background: #e45757;
}
