/*
Syntax error: Undefined variable: "$default".
        on line 29 of /Users/Steve/Dropbox/Sites/framework/assets/sass/import/_base.scss
        from line 6 of /Users/Steve/Dropbox/Sites/framework/assets/sass/import/_framework.scss
        from line 1 of /Users/Steve/Dropbox/Sites/framework/assets/sass/master.scss

Backtrace:
/Users/Steve/Dropbox/Sites/framework/assets/sass/import/_base.scss:29
/Users/Steve/Dropbox/Sites/framework/assets/sass/import/_framework.scss:6
/Users/Steve/Dropbox/Sites/framework/assets/sass/master.scss:1
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/variable.rb:49:in `_perform'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/funcall.rb:93:in `block in _perform'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/funcall.rb:93:in `map'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/funcall.rb:93:in `_perform'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:327:in `visit_variable'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:132:in `timed'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:145:in `block in compile'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/logger.rb:46:in `red'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:144:in `compile'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:107:in `each'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:107:in `block in run'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:132:in `timed'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/compiler.rb:106:in `run'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/Steve/.rvm/rubies/ruby-2.0.0-p0/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/watch.rb:17:in `call'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/watch.rb:17:in `run_callback'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:78:in `block (2 levels) in listen_callback'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:77:in `each'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:77:in `block in listen_callback'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:76:in `each'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.3/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
/Users/Steve/.rvm/gems/ruby-2.0.0-p0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$default\".\A         on line 29 of /Users/Steve/Dropbox/Sites/framework/assets/sass/import/_base.scss\A         from line 6 of /Users/Steve/Dropbox/Sites/framework/assets/sass/import/_framework.scss\A         from line 1 of /Users/Steve/Dropbox/Sites/framework/assets/sass/master.scss"; }
