h1, h2, h3, h4, h5, h6 {
	font-family: $heading;
	padding: 0;
	margin: 0;
	display: block; }

h1 {
	@include rem(font-size, 36px);
	[role="banner"] & {
		@include rem(padding, 0 0 $base-px);
		text-transform: uppercase; } }
h2 {
	font-size: 30px; }
h3 {
	font-size: 24px; }
h4 {
	font-size: 18px; 
	text-transform: uppercase;
	letter-spacing: 2px; }
h5 {
	font-size: 16px; }
h6 {
	font-size: 12px; 
	text-transform: uppercase;
	letter-spacing: 2px; }
	
p {
	font: 1em/1.5em $body; }
	
a {
	text-decoration: none; 
	color: $secondary;
	@extend %transition;
	&:hover, &:focus {
		color: $primary; } }
p, li {
	@include hyphens(auto); }
