h1, h2, h3, h4, h5, h6 {
	font: 700 36px/1.5 $sans;
	@extend .em_padding;
	a {
		display: inline-block; } }

h1 {
	font-size: 36px; }
h2 {
	font-size: 30px; }
h3 {
	font-size: 24px; }
h4 {
	font-size: 18px; 
	text-transform: uppercase;
	letter-spacing: 2px; }
h5 {
	font-size: 16px; }
h6 {
	font-size: 12px; 
	text-transform: uppercase;
	letter-spacing: 2px; }
	
p {
	font: 1em/1.5em $serif;
	padding: $line/2 0;
	text-align: justify; }

/*
h1,h2,h3,h4,h5,h6{line-height:1;margin-bottom:0.25em;text-rendering: optimizeLegibility;}
h1{font-size: 30px;}
h2{font-size:24px;line-height:24px;padding:7px 0px 30px;margin:0px 0px 20px;}
h3{font-size:18px;margin-bottom:.75em;}
h4{font-size:16px;margin-bottom:1.25em;text-transform:uppercase;letter-spacing:0.75px;}
h5{font-size:1em;margin-bottom:1.25em;}
h6{font-size:.70em;margin-bottom:2em;}
*/