// Separated stuff that will more often than not be
// consistent so possibility for extending with this mixin
// ---------------------------
@mixin element-base(
	$size: $default-element-size,
	$font-size: $default-element-font-size,
	$radius: $default-element-radius,
	$display: $default-element-display) {
	@extend %element-base;
	
	@if $display {
		display: $display;
		
		@if $display == inline-block {
			vertical-align: top; } }
	
	@if $size {
		padding: element-size($size); }
	
	@if $font-size {	
		font-size: $font-size; }
	
	@if $radius {
		border-radius: $radius; } }

// The most consistent stuff for each button
// ---------------------------
%element-base {
	@include user-select(none);
	background-clip: padding-box;
	position: relative;
	font-family: $element;
	line-height: $default-element-line-height;
	font-weight: $default-element-font-weight; }

%element-base-with-mixin {
	@extend %element-base;
	@include element-base; }