// Separate the overall button style
// ---------------------------
@import "variables";

@mixin element-shading(
	$color				: $default-element-color,
	$state				: $default-element-state,
	$text-shadow	: $default-element-text-shadow,
	$dark-bg			: $default-element-dark-bg,
	$border				: $default-element-border
) {
	
	// Shading vars
	// ---------------------------
	$color: if($state == hover, scale-color($color, $lightness: 10%, $saturation: if(grayscale($color), 0%, 3%)), $color);
	$light-color: scale-color($color, $lightness: 10%, $saturation: if(grayscale($color), 0%, 3%));
	$dark-color: scale-color($color, $lightness: -10%);
	$hue-color: if(element-hue-adjust($color), element-hue-adjust($color), $color);
	$hue-color: element-lightness-adjust($hue-color);
	
	// Shadows
	$border-color: scale-lightness(element-lightness-adjust($dark-color), -10%);
	$border-color-dark: $border-color;
	$highlight-color: element-lightness-adjust($light-color, true);
	$text-shadow-color: if($state != disabled, if(lightness($color) < 80%, rgba(scale-lightness($dark-color, -20%), .6), rgba(scale-lightness($highlight-color, 20%), .6)), rgba($white, .2));
	
	// Other colors
	$background-main-color: $color;
	$background-dark-color: $hue-color;
	$element-text-color: if(lightness($color) < 80%, scale-lightness($color, 80%), scale-lightness($color, -40%)) !default;
	
	@if $dark-bg {
		$border-color: rgba($black, .8);
		$light-color: scale-lightness($light-color, 30%);
		$dark-color: scale-lightness($dark-color, -20%);
		$hue-color: scale-lightness($light-color, -10%); }
	
	@if $text-shadow {
		text-shadow: 0 1px $text-shadow-color; }
	
	@if $state != disabled {
		@include background(
			linear-gradient(
				$background-main-color,
				rgba($background-dark-color, .2)),
			$background-main-color);
		
		box-shadow: 
			if($border, inset 0 0 0 1px $border-color, compact(false)),
			if($state != active, inset 0 if($border, 2px, 1px) $highlight-color, if($dark-bg, inset 0 3px 4px $dark-color, inset 0 2px 3px $dark-color)),
			if($state != active, 0 1px 2px rgba(scale-lightness($dark-color, -40%), .2), compact(false));
		color: $element-text-color;
		
		.no-cssgradients & {
			background: $background-main-color; } }
	
	@else {
		background: $background-main-color;
		color: element-lightness-adjust($border-color);
		
		@if $border { 
			box-shadow: inset 0 0 0 1px $border-color; } } }