// Default vars
// ---------------------------
$default-element-color: $default-color !default;
$default-element-text-color: $white !default;
$default-element-dark-bg: $default-dark-bg !default;
$default-element-radius: $radius !default;
$default-element-subtle: false !default;
$default-element-shading: $default-shading !default;
$default-element-size: $default-size !default;
$default-element-hover: true !default;
$default-element-font-size: false !default;
$default-element-display: $default-display !default;
$default-element-dry: $default-dry !default;
$default-element-state: $default-state !default;
$default-element-text-shadow: true !default;
$default-element-font-weight: 400 !default;
$default-element-line-height: $default-framework-line-height !default;
$default-element-border: true !default;