// Border radius
// ---------------------------
// $radius defined in variables/base
@if $default-enable-border-radius {
	.circular {
		border-radius: 100%; }

	.radius {
		border-radius: $radius; } }

@if $default-enable-border-radius-specific {
	$corners: top-left, top-right, bottom-left, bottom-right;

	@each $corner in $corners {
		.radius-#{$corner} {
			border-#{$corner}-radius: $radius; } } }
