// Essentially taken from tachyons.io
// ---------------------------
.flex { display: flex; }
.inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */ }

.flex-none { flex: none; }

.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch { align-self: stretch; }

.start { justify-content: flex-start; }
.end { justify-content: flex-end; }
.center { justify-content: center; }
.between { justify-content: space-between; }
.around { justify-content: space-around; }

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }

@each $breakpoint-name, $breakpoint-width in $default-breakpoint-map {
	@include breakpoint($breakpoint-width) {
    .flex-#{$breakpoint-name} { display: flex; }
    .inline-flex-#{$breakpoint-name} { display: inline-flex; }
    
    .flex-auto-#{$breakpoint-name} {
      flex: 1 1 auto;
      min-width: 0; /* 1 */
      min-height: 0; /* 1 */ }
    
    .flex-none-#{$breakpoint-name} { flex: none; }
    
    .flex-column-#{$breakpoint-name} { flex-direction: column; }
    .flex-row-#{$breakpoint-name} { flex-direction: row; }
    .flex-wrap-#{$breakpoint-name} { flex-wrap: wrap; }
    
    .items-start-#{$breakpoint-name} { align-items: flex-start; }
    .items-end-#{$breakpoint-name} { align-items: flex-end; }
    .items-center-#{$breakpoint-name} { align-items: center; }
    .items-baseline-#{$breakpoint-name} { align-items: baseline; }
    .items-stretch-#{$breakpoint-name} { align-items: stretch; }
  
    .self-start-#{$breakpoint-name} { align-self: flex-start; }
    .self-end-#{$breakpoint-name} { align-self: flex-end; }
    .self-center-#{$breakpoint-name} { align-self: center; }
    .self-baseline-#{$breakpoint-name} { align-self: baseline; }
    .self-stretch-#{$breakpoint-name} { align-self: stretch; }
  
    .start-#{$breakpoint-name} { justify-content: flex-start; }
    .end-#{$breakpoint-name} { justify-content: flex-end; }
    .center-#{$breakpoint-name} { justify-content: center; }
    .between-#{$breakpoint-name} { justify-content: space-between; }
    .around-#{$breakpoint-name} { justify-content: space-around; }
  
    .content-start-#{$breakpoint-name} { align-content: flex-start; }
    .content-end-#{$breakpoint-name} { align-content: flex-end; }
    .content-center-#{$breakpoint-name} { align-content: center; }
    .content-between-#{$breakpoint-name} { align-content: space-between; }
    .content-around-#{$breakpoint-name} { align-content: space-around; }
    .content-stretch-#{$breakpoint-name} { align-content: stretch; } } }