// Padding
// ---------------------------
@if $default-enable-padding {
  .p0 {
    padding: $p0; }
  
  @each $abbr, $padding in $default-padding-map {
    .p#{$abbr}0 {
      padding-#{$padding}: $p0; }
      
    .p#{$abbr}1 {
      padding-#{$padding}: $p1; }
      
    .p#{$abbr}2 {
      padding-#{$padding}: $p2; }
      
    .p#{$abbr}3 {
      padding-#{$padding}: $p3; } 
    
    .p#{$abbr}4 {
      padding-#{$padding}: $p4; }
    
    .p#{$abbr}5 {
      padding-#{$padding}: $p5; }
    
    .p#{$abbr}6 {
      padding-#{$padding}: $p6; }
    
    .p#{$abbr}7 {
      padding-#{$padding}: $p7; }
    
    .p#{$abbr}8 {
      padding-#{$padding}: $p8; }
    
    .p#{$abbr}9 {
        padding-#{$padding}: $p9; } }
  
  // Loop through the breakpoint map, assign each breakpoint to the relevant variable
  // eg: $breakpoint-name = 'b' and $breakpoint-width = 480px
  // $default-breakpoint-map can be found in variables/breakpoints
  @each $breakpoint-name, $breakpoint-width in $default-breakpoint-map {
  	@include breakpoint($breakpoint-width) {
      @each $abbr, $padding in $default-padding-map {
        .p#{$abbr}0 {
          padding-#{$padding}: $p0; }
          
        .p#{$abbr}1 {
          padding-#{$padding}: $p1; }
          
        .p#{$abbr}2 {
          padding-#{$padding}: $p2; }
          
        .p#{$abbr}3 {
          padding-#{$padding}: $p3; } 
        
        .p#{$abbr}4 {
          padding-#{$padding}: $p4; }
        
        .p#{$abbr}5 {
          padding-#{$padding}: $p5; }
        
        .p#{$abbr}6 {
          padding-#{$padding}: $p6; }
        
        .p#{$abbr}7 {
          padding-#{$padding}: $p7; }
        
        .p#{$abbr}8 {
          padding-#{$padding}: $p8; }
        
        .p#{$abbr}9 {
            padding-#{$padding}: $p9; } } } } }

// Island padding helpers
// ---------------------------
$isles: (
  spit: $p1,
  isle: $p2,
  island: $p3,
  country: $p4,
  continent: $p5,
  planet: $p6,
  galaxy: $p7,
  universe: $p8,
  cosmos: $p9 );

@if $default-enable-isles {
  @each $name, $padding in $isles {
  	.#{$name} {
  		padding: $padding; }
    
    .#{$name}-v {
      padding-top: $padding;
      padding-bottom: $padding; }
    
    .#{$name}-h {
      padding-right: $padding;
      padding-left: $padding; }
    
  // Loop through the breakpoint map, assign each breakpoint to the relevant variable
  // eg: $breakpoint-name = 'b' and $breakpoint-width = 480px
  // $default-breakpoint-map can be found in variables/breakpoints
  @each $breakpoint-name, $breakpoint-width in $default-breakpoint-map {
  	@include breakpoint($breakpoint-width) {
      .#{$name}-b {
    		padding: $padding; }
      
      .#{$name}-v-b {
        padding-top: $padding;
        padding-bottom: $padding; }
      
      .#{$name}-h-b {
        padding-right: $padding;
        padding-left: $padding; } } } } }