// Align
// ---------------------------
@if $default-enable-text-alignment {
  .text-right { text-align: right; }
  .text-center { text-align: center; }
  .text-left { text-align: left; } }

// Loop through the breakpoint map, assign each breakpoint to the relevant variable
// eg: $breakpoint-name = 'b' and $breakpoint-width = 480px
// $default-breakpoint-map can be found in variables/breakpoints
@if $default-enable-text-alignment-responsive {
  @each $breakpoint-name, $breakpoint-width in $default-breakpoint-map {
  	@include breakpoint($breakpoint-width) {
      .text-right-#{$breakpoint-name} {
        text-align: right; }

      .text-center-#{$breakpoint-name} {
        text-align: center; }

      .text-left-#{$breakpoint-name} {
        text-align: left; } } } }

@if $default-enable-text-style {
  // Case
  // ---------------------------
  .text-lowercase { text-transform: lowercase; }
  .text-uppercase { text-transform: uppercase; }

  // Style
  // ---------------------------
  .text-italic { font-style: italic; } }

// Various
// ---------------------------
@if $default-enable-text-various {
  .caption {
  	font-weight: 700;
  	text-transform: uppercase;
  	letter-spacing: .125em; } }

// Measure
// ---------------------------
@if $default-enable-text-measure {
  .measure { max-width: $measure; }
  .measure-narrow { max-width: $measure-narrow; }
  .measure-wide { max-width: $measure-wide; } }
