// Transition
// ---------------------------
.t {
  transition-duration: .2s; }

// Cubic beziers
// ---------------------------
.t-ease-out-cubic {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.t-ease-out-expo {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
