// Inline block
// ---------------------------
@if $default-enable-inline-block-layout {
	.dib {
		display: inline-block; }
  
  .dib-b {
    @include breakpoint($b) {
      display: inline-block; } }
  
  .dib-c {
    @include breakpoint($c) {
      display: inline-block; } }
  
  .dib-d {
    @include breakpoint($d) {
      display: inline-block; } }
		
	.vat {
		vertical-align: top; }
	
	.vam {
		vertical-align: middle; }
	
	.vab {
		vertical-align: bottom; } }