//	variable values number divided by 1000
$ten						:	1%;
$twenty					:	2%;
$forty					:	4%;
$sixty					:	6%;
$eighty					:	8%;

$tenth					:	10%;
$twentieth			:	20%;
$quarter				:	25%;
$third					:	33%;
$half						:	50%;
$twothirds			:	66%;
$sixtyeight			:	68%;
$threequarters	: 75%;
$eighty					: 80%;
$ninety					:	90%;
$whole					:	100%;

//	general variable colours
$primary: darken(#948C75, 20%);
$secondary: darken(adjust-hue(desaturate(#FF6666, 20%), 40), 5%);

$black: hsla(0,0%,0%,1);
$white: hsla(0,100%,100%,1);

// main element styling colours
$default: #eee;
$default-text: #444;
$default-text-shadow: #fff;

$border: darken($default, 15%);
$focus: darken(#71bcc5, 25%);

$alt: 				desaturate(#27a0dc, 15%);
$danger: 			saturate(#d24f48, 10%);
$warning: 		adjust-hue(#f3ad30, 5);
$success: 		lighten(desaturate(#6f8a22, 15%), 10%);
$info: 				#71bcc5;

// font stacks
$sans: "ratio-display", helvetica, sans-serif;
$serif: "adelle", ff-meta-serif-web-pro, georgia, serif;
$monospace: Menlo, Monaco, "Courier New", monospace;
$pictos: "Pictos Custom";

// font sizes
$base-font-size: 1em;
$normal-size: 1em;
$base-line-height: 1.5em;

// px
$base-px: 0.75em;
$line: $base-px*2;

$experimental-support-for-khtml: false;