// Default variables override in site/_base.scss
// ---------------------------

// General variable colours
// --------------------------

// Primary colours
$primary: #403b33 !default;

// Secondary colours
$secondary: #d3643b !default;

// Tertiary colours
$tertiary: #edebe6 !default;

// Neutral colours
$neutral: #94C7B6 !default;

// Just because
$black: #000 !default;
$white: #fff !default;

// Main element styling colours
// ---------------------------
$alt: #00b2b7 !default;
$danger: #ef4c48 !default;
$warning: #ffaf66 !default;
$success: #a2c6a0 !default;
$info: #88cbbe !default;

// Alternative colours
// ---------------------------
$error: $danger !default;
$red: $danger !default;
$blue: $alt !default;
$green: $success !default;
$yellow: $warning !default;
$purple: #7375a5 !default;
$light-grey: #e3e6ea !default;

// Font stacks
// ---------------------------
$sans: "ff-dagny-web-pro", sans-serif !default;
$serif: "utopia-std-display", serif !default;
$monospace: Menlo, Monaco, "Courier New", monospace !default;
$icons: "SSStandard" !default;

// found the need sometimes to switch fonts mid project
// ---------------------------
$heading: $sans !default;
$body: $sans !default;
$form: $sans !default;
$element: $sans !default;

// Font sizes
// ---------------------------
$base-font-size: 16px !default;
$base-line-height: 24px !default; // must be px if using compass vertical rhythm

// px
// ---------------------------
$base-px: 12px !default;
$line: $base-px*2 !default;

// Define responsive stuff: see responsive.scss
// ---------------------------
$old-ie: false !default;
$fix-mqs: false !default;

// Defaults
// ---------------------------
$radius: 3px !default;

$default-transition-duration: .2s !default;
$transition-duration: $default-transition-duration !default;

// For grouped elements the space left if inline-block is set
$default-negative-spacing: -5px !default;

// General default colours
$default: #7d7e81 !default;
$default-text: #444 !default;
$default-text-shadow: #fff !default;
$default-subtle-color: #666 !default;

// Default sizing for elements
$default-size: 1 !default; // for element mixin
$default-ratio: .4875 !default; // for element mixin
$default-set-height: 36px !default;
$default-set-height-padding: $base-px !default;
$default-equal: false !default;
// How many times larger should the padding-left/right be than padding-top/bottom
$default-multiplier: 2 !default;

// Defaults for element/form paramaters and others
$default-dark-bg: false !default;
$default-shading: true !default;
$default-display: inline-block !default;
$default-dry: false !default;
$default-state: normal !default;

// Default opacity for dark and light values
$default-dark-shadow: .2 !default;
$default-light-shadow: .6 !default;

// Context in which em functions are based on
$default-context: $base-font-size !default;

// Set your browser selection colour
$default-selection-background: #fefeca !default;
$default-selection-color: $primary !default;

// Set the <mark> element styles
$default-mark-color: $primary !default;
$default-mark-background: #fefeca !default;

// Default container width eg <div class="container">
$default-container: 960px;

// If you have border/focus colours
$border: scale-color($default, $lightness: -15%) !default;
$focus: $alt !default;

// Change your responsive widths here,
// corresponds with screens scss files a lowest e highest
// ---------------------------

// Set up some breakpoints
$a: 30em !default;
$b: 37.5em !default;
$c: 48em !default;
$d: 60em !default;
$e: 75em !default;
$f: 90em !default;

$default-breakpoints: compact($a, $b, $c, $d, $e, $f) !default;
$default-breakpoint-type: min !default;
$default-breakpoint-retina: false !default;
$default-breakpoint-width: false !default;
$default-breakpoint-min-resolution: 144dppx !default;
$default-breakpoint-pixel-ratio: 1.5 !default;

// grid.scss settings
// ---------------------------
$default-grid-columns: 6 !default;
$default-grid-padding: true !default;
$default-grid-max-width: $d !default;
$default-grid-width: 85% !default;
$default-grid-container-margin: auto !default;
$default-grid-container-selector: ".site" !default;
$default-grid-direction: left !default;
$default-grid-gutter: 1.5em !default;
$default-grid-respond-width: $d !default;

// if your html is minified set to false
// as it cuts out that little bit of css 
// needed to collapse whitespace
$default-grid-space: true !default; 

// Sizing increments, set in _helpers.scss
// ---------------------------
$xxlarge-size: 200% !default;
$xlarge-size: 150% !default;
$large-size: 133% !default;
$normal-size: 100% !default;
$small-size: 87.5% !default;
$xsmall-size: 75% !default;
$xxsmall-size: 50% !default;