// Default vars
// ---------------------------
$default-element-main-color: $default !default;
$default-element-text-color: $white !default;
$default-element-dark-bg: $default-dark-bg !default;
$default-element-radius: $radius !default;
$default-element-subtle: false !default;
$default-element-shading: $default-shading !default;
$default-element-size: $default-size !default;
$default-element-set-height: false !default;
$default-element-hover: false !default;
$default-element-font-size: false !default;
$default-element-display: $default-display !default;
$default-element-dry: $default-dry !default;
$default-element-state: $default-state !default;


// TODO: Dark background adjustments
// ------------------------------------------
// Element — A base, mixin and options
// Style notices/alerts, buttons, etc 
// -----------------------------------------
@mixin element(
	$main-color	: $default-element-main-color,
	$text-color	: $default-element-text-color,
	$dark-bg		: $default-element-dark-bg,
	$radius			: $default-element-radius, 
	$subtle			: $default-element-subtle,
	$shading		: $default-element-shading,
	$size				: $default-element-size,
	$set-height	: $default-element-set-height, 
	$hover			: $default-element-hover,
	$font-size	: $default-element-font-size,
	$display		: $default-element-display,
	$dry				: $default-element-dry
) {
	
	// Use element-base mixin to keep repetitive stuff together
	@if $dry == false {		
		@include element-base($size, $set-height, $font-size, $text-color, $radius, $display); }
	@else { 
		@extend %element-base-with-mixin; }
	
	@if $subtle {
		.no-boxshadow & {
			border: 1px solid transparent; }
		.no-cssgradients & {
			background: transparent; } }
	
	// non subtle start		
	@else {
		@if $shading {
			@include element-shading($main-color, normal, $text-color, $dark-bg); }
		@else {
			background: $main-color; } }
			
	@if $hover {
		&:hover, &:focus {
			@if $subtle { 
				color: $text-color; }
			
			@if $shading {
				@include element-shading($main-color, hover, false, $dark-bg); }
			
			@else {
				background: scale-lightness($main-color, 10%); } }
				
		&:active {
			z-index: 2; // makes button above others in a group
			
			@if $shading {
				@include element-shading($main-color, active, false, $dark-bg); }
			
			@else {
				background: scale-lightness($main-color, -10%); } } } }

// Separate the overall button style
// ---------------------------
@mixin element-shading(
	$main-color: $default-element-main-color,
	$state: $default-element-state,
	$text-color: $default-element-text-color,
	$dark-bg: $default-element-dark-bg) {
	
	@if $state == hover or $state == active { 
		$main-color: if($state == hover, scale-lightness($main-color, 10%), $main-color); }
	
	$light-color: scale-lightness($main-color, if-bright($main-color, 25%, 15%));
	$dark-color: scale-lightness($main-color, if-bright($main-color, -15%, -25%));
	$shadow-color: scale-lightness($main-color, if-bright($main-color, -60%, -70%));
	
	// Aimed at yellows
	@if red($main-color) > green($main-color) and 
			green($main-color) > blue($main-color) and
			green($main-color) > 90 {
				
				$dark-color: scale-lightness(adjust-hue($main-color, -12deg), if-bright($main-color, -5%, -15%));
				$shadow-color: scale-lightness($main-color, if-bright($main-color, -50%, -65%)); }
	
	// Aimed at blue/greens
	@if blue($main-color) > green($main-color) and blue($main-color) > red($main-color) or
			green($main-color) > red($main-color) and 
			green($main-color) > blue($main-color) {
			
				$dark-color: scale-lightness(adjust-hue($main-color, 20deg), if-bright($main-color, -5%, -15%));
				$shadow-color: scale-lightness($main-color, if-bright($main-color, -55%, -65%)); }
	
	
	// Apply edits to the button style here
	// ---------------------------
	@include background(
		linear-gradient($main-color, $dark-color));	
	box-shadow:
		inset 0 -1px rgba($shadow-color, .6),
		inset 0 0 0 1px rgba($shadow-color, .3),
		if($state == active,
			compact(inset 0 1px 3px rgba($shadow-color, .6), 0 1px 1px rgba($white, $default-light-shadow)),
			compact(inset 0 2px rgba($light-color, .6), 0 1px 1px rgba($shadow-color, .2)));

	// modernizr stuff
	.no-cssgradients & {
		background: $main-color; } }

// Separated stuff that will more often than not be
// consistent so possibility for extending with this mixin
// ---------------------------
@mixin element-base(
	$size: $default-element-size,
	$set-height: $default-element-set-height,
	$font-size: $default-element-font-size,
	$text-color: $default-element-text-color,
	$radius: $default-element-radius,
	$display: $default-element-display) {
	@extend %element-base;
	
	&, &:hover, &:focus { 
		@if $text-color != false {
			color: $text-color;
			text-shadow: 0 1px 1px if(lightness($text-color) > 50%, rgba($black, $default-dark-shadow), rgba($white, $default-light-shadow)); } }
	
	@if $display {
		display: $display; }
	
	@if $size and $set-height == false {
		padding: element-size($size); }
	
	@if $set-height {
		@include set-height($set-height, $line); }
	
	@if $font-size {	
		font-size: $font-size; }
	
	@if $radius {
		border-radius: $radius; } }

// The most consistent stuff for each button
// ---------------------------
%element-base {
	@include background-clip;
	@include transition(none);
	@include user-select(none);
	position: relative;
	font-family: $element;
	line-height: normal;
	border: none; }

%element-base-with-mixin {
	@extend %element-base;
	@include element-base; }