//	Element — A base, mixin and options
//	Style notices/alerts, buttons, etc 
//	-----------------------------------------
@mixin element(
	$main-color: $default,
	$text-color: $white,
	$radius: $radius, 
	$subtle: false,
	$shading: true,
	$size: $default-size, 
	$hover: false,
	$font-size: false,
	$display: inline-block,
	$dry: false) {
	
	// Use element-base mixin to keep repetitive stuff together
	@if $dry == false {		
		@include element-base($size, $font-size, $text-color, $radius, $display); }
	
	@if $subtle {
		.no-boxshadow & {
			border: 1px solid transparent; }
		.no-cssgradients & {
			background: transparent; } }
	
	// non subtle start		
	@else {
		@if $shading {
			@include element-shading($main-color, normal, $text-color); }
		@else {
			background: $main-color; } }
			
	@if $hover {
		&:hover, &:focus {
			@if $subtle { 
				color: $text-color; }
			
			@if $shading {
				@include element-shading($main-color, hover); }
			
			@else {
				background: scale-lightness($main-color, 10%); } }
				
		&:active {
			z-index: 2; // makes button above others in a group
			
			@if $shading {
				@include element-shading($main-color, active); }
			
			@else {
				background: scale-lightness($main-color, -10%); } } } }

// Separate the overall button style
// ---------------------------
@mixin element-shading(
	$main-color: $alt,
	$state: normal,
	$text-color: false) {
	
	@if $state == hover or $state == active { 
		$main-color: if($state == hover, scale-lightness($main-color, 10%), $main-color); }
	
	$light-color: scale-lightness($main-color, if-bright($main-color, 25%, 15%));
	$dark-color: scale-lightness($main-color, if-bright($main-color, -15%, -25%));
	
	@if red($main-color) > green($main-color) and 
			green($main-color) > blue($main-color) and
			green($main-color) > 90 {
			
				$dark-color: scale-lightness(
					adjust-hue($main-color, -12deg), 
					if-bright($main-color, -5%, -15%)); }
					
	@if blue($main-color) > green($main-color) and blue($main-color) > red($main-color) or
			green($main-color) > red($main-color) and 
			green($main-color) > blue($main-color) {
			
				$dark-color: scale-lightness(
					adjust-hue($main-color, 12deg), 
					if-bright($main-color, -5%, -15%)); }
	
	$shadow-color: scale-lightness($main-color, if-bright($main-color, -50%, -65%));
	
	// Apply edits to the button style here
	// ---------------------------
	@include background(
		linear-gradient($main-color, $dark-color));	
	@include filter(
		drop-shadow(if($state == active, 
			0 1px 1px rgba($white, $default-light-shadow),
			0 1px 3px rgba($shadow-color, $default-dark-shadow))));
	box-shadow:
		inset 0 0 0 1px rgba($shadow-color, .3),
		if($state == active,
			inset 0 1px 3px rgba($shadow-color, .6),
			inset 0 2px 0 rgba($light-color, .8)),
		inset em($base-px) 0 em(18px) em(-$base-px) rgba($dark-color, .4),
		inset em(-$base-px) 0 em(18px) em(-$base-px) rgba($dark-color, .4);
		
	// modernizr stuff
	.no-boxshadow & {
		border: 1px solid $dark-color; }
	.no-cssgradients & {
		background: $main-color; } }

// The most consistent stuff for each button
// ---------------------------
%element-base {
	@include background-clip;
	@include transition(none);
	@include user-select(none);
	position: relative;
	font-family: $element;
	line-height: 1;
	border: none; }

// Separated stuff that will more often than not be
// consistent so possibility for extending with this mixin
// ---------------------------
@mixin element-base(
	$size: $default-size,
	$font-size: false,
	$text-color: $white,
	$radius: $radius,
	$display: inline-block) {
	@extend %element-base;
	
	&, &:hover, &:focus { 
		@if $text-color != false {
			color: $text-color;
			text-shadow: 0 1px 1px if(lightness($text-color) > 50%, rgba($black, $default-dark-shadow), rgba($white, $default-light-shadow)); } }
	
	@if $size != false {
		padding: element-size($size); }
	
	@if $font-size {	
		font-size: $font-size; }
	
	@if $radius {
		border-radius: $radius; }
	
	display: $display; }