// Simple 6 column grid using
// display: inline-block
// ---------------------------
%grid, %clear {
	@include pie-clearfix; }
	
.#{$grid-container-class} {
	@extend %clear;
	width: $grid-width;
	@if $grid-max-width { 
		max-width: $grid-max-width; }
	margin: $grid-container-margin;
	position: relative; }

.grid {
	display: block;
	padding: 0;
	margin: 0 -0.5 * $grid-gutter;
	text-align: $grid-direction;
	text-rendering: optimizespeed;
	
	@if $grid-space {
		letter-spacing: -0.31em;
		word-spacing: -0.43em; }
	> .grid {
	  overflow: hidden;
	  margin-right: 0;
	  margin-left: 0; } }
  
.grid-cell {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0 0.5 * $grid-gutter;
	vertical-align: top;
	text-align: $grid-direction;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto; }

.grid-center {
	text-align: center; }
	
.grid-cell-center {
	display: block;
	margin: 0 auto; }

.grid-1 {
	@extend .grid-cell;
	@include respond-min($b) {
		width: 16.66667%;
		@include old-ie; } }

.grid-2 {
	@extend .grid-cell;
	@include respond-min($b) {
		width: 33.33333%;
		@include old-ie; } }
		
.grid-3,
.grid-half {
	@extend .grid-cell;
	@include respond-min($b) {
		width: 50%;
		@include old-ie; } }
		
.grid-4 {
	@extend .grid-cell;
	@include respond-min($b) {
		width: 66.66667%;
		@include old-ie; } }
		
.grid-5 {
	@extend .grid-cell;
	@include respond-min($b) {
		width: 83.33333%;
		@include old-ie; } }
		
.grid-6, .grid-full {
	@extend .grid-cell; }

// Helpers
// ---------------------------
.show-grid div[class*='grid-'] {
	@include box-shadow(0 0 0 2px rgba($black, .1));
	@include box-sizing(border-box);
	@include border-radius($radius);
	background-color: scale-lightness($tertiary, 20%);
	display: block;
	padding: em($base-px) em($line);
	margin-bottom: em($line);
	text-align: center;
	font-size: .75rem;
	font-family: $sans; }

@for $i from 1 through 19 {
  $num: $i * 5;
  $percent: $num * 1%;

  %grid-#{$num} {
	  float: left;
    width: $percent; }

  %prefix-#{$num} {
    margin-left: $percent; }

  %suffix-#{$num} {
    margin-right: $percent; }

  %push-#{$num} {
    left: $percent; }

  %pull-#{$num} {
    left: $percent * -1; } }