@mixin element-group($children: ".button", $negative-spacing: -5px, $radius: $radius) {
	
	@if $negative-spacing {
		letter-spacing: em($negative-spacing); }
	
	#{unquote($children)} {
		border-radius: 0;
		
		@if $negative-spacing {
			letter-spacing: 0; }
		
		&:first-child {
			border-radius: $radius 0 0 $radius; }
		
		&:last-child {
			border-radius: 0 $radius $radius 0; } } }