//	Your traditional helper classes through
//	mixins and extends
// 	-----------------------------------------

// General extends
// ---------------------------
%transition {
	@include transition(
		color $transition-duration linear,
		background $transition-duration linear,
		border-color $transition-duration linear); }
%rounded {
	@include border-radius($radius); }
%shadow {
	@include box-shadow(0 1px 3px rgba($black, .2)); }
%left {
	float: left; }
%right {
	float: right; }

// Hiding
// ---------------------------
.hidden {
	display: none; }
%screenreaders {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

// Resets
// ---------------------------
%no-outline {
	outline: none; }
%input-reset {
	@include appearance(none); }
%no-list-style {
	list-style: none; }

// Margins and paddings
// ---------------------------
%centre {
	margin: auto; }
%no-mp {
	margin: 0;
	padding: 0; }

// Colour use
// ---------------------------
%primary {
	color: $primary; }
%secondary {
	color: $secondary; }
%tertiary {
	color: $tertiary; }

// Font size
// ---------------------------
%base {
	font-size: em($base-font-size, 16px); }

// Sizes
// ---------------------------
.xlarge {
	font-size: $xlarge-size; }
.large {
	font-size: $large-size; }
.regular, .normal {
	font-size: $normal-size; }
.small {
	font-size: $small-size; }
.xsmall {
	font-size: $xsmall-size; }

// Mixins
// ---------------------------

// set width and height,
// pass one value to have both set for you
@mixin wh($width: false, $height: false) {
	$width: unquote($width);
	@if $height != none {
		$height: unquote($height); }

	@if $height != false {
		width: #{$width};
		height: #{$height}; }
	@else {
		width: #{$width};
		height: #{$width}; } }

// Sets the height of stuff with the line height to match
// ---------------------------
@mixin set-height($set-height: $default-set-height, $padding: $base-px, $context: $base-font-size) {
	@if $set-height == true {
		$set-height: em($default-set-height); }
	@else {
		$set-height: em($set-height, $context); }

	padding: 0 em($padding, $context);
	height: $set-height;
	line-height: $set-height; }

// Create proportionally sized elements
// ---------------------------
@function element-size($size: 1, $ratio: .3125) {
  @return ($size * $ratio) + em (($size * 2) * $ratio) + em; }

// Colour functions
// ---------------------------

// Taken from: https://github.com/imathis/nice-buttons
// Returns true if the color is brighter than 50% lightness
@function is-bright($color) {
	@return (lightness($color) > 50%); }

// Picks the color with the highest contrast
@function if-bright($color, $light: true, $dark: false) {
	@return if(is-bright($color), $light, $dark); }

// Picks the color with the highest contrast
@function text-contrast($bg, $dark-text: #666, $light-text: rgba($text-color, .9)) {
	@return if-bright($bg, $dark-text, $light-text); }

// Layout
// ---------------------------
%two-columns {
	@include column-count(2);
	@include column-gap(3em);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	break-inside: avoid; }