// 	----------------------------------------- 
//	Your traditional helper classes through
//	mixins and extends
// 	-----------------------------------------

// Use any of these on any element, 
// helps for a more object oriented CSS approach
// without classitis and faster less bloated CSS
// 
// eg: @extend .transition;



// Extends

.transition {
	@include transition(all .4s linear); }
.rounded {
	@include border-radius(5px); }


// Mixins

@mixin left {
	float: left; }
@mixin right {
	float: right; }
@mixin hidden {
	display: none; visibility: hidden; }
@mixin screenreaders { 
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
@mixin centre {
	margin: auto; }
	
@mixin no_outline {
	outline: none; }

// make form elements have no appearance
@mixin input_reset {
	@include appearance(none); }	

@mixin no_list_style {
	list-style: none; }

// margins and paddings
@mixin margin {
	margin: $base_px 0; }
@mixin em_margin {
	margin: $line 0 $line/2; }
@mixin em_margin_even {
	margin: 0.75em 0; }
@mixin em_margin_reverse {
	margin: $line/2 0 $line; }

@mixin padding {
	padding: $base_px/2 $base_px; }
@mixin em_padding {
	padding: $line 0 $line/4; }
@mixin em_padding_even {
	padding:  0.75em 0; }
	
@mixin plr {
	padding: 0 $base_px; }
@mixin ptb {
	padding: $base_px 0; }
	
@mixin mlr {
	margin: 0 $base_px; }
@mixin mtb {
	margin: $base_px 0; }

@mixin no_mp {
	margin: 0; padding: 0; }
	
// colour use
@mixin primary {
	color: $primary; }
@mixin secondary {
	color: $secondary; }
	
// small mixins
@mixin hyphens($value: "manual") {
  @each $prefix in -webkit-, -moz-, -o-, "" {
    #{$prefix}hyphens: $value;
  }
}

@mixin wh($width, $height) {
	
	@if $width and $height {
		width: #{$width};
		height: #{$height};
	}
	@else {
		width: #{$width};
		height: #{$width};
	}
}

// user-select for some reason was not in my compass
@mixin user-select($select) {
  $select: unquote($select);
  @include experimental(user-select, $select,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}