// 	-----------------------------------------
//	Your traditional helper classes through
//	mixins and extends
// 	-----------------------------------------

// eg: @extend %transition;



// general extends
// ---------------------------
%transition {
	@include transition(all .2s linear); }
%rounded {
	@include border-radius($radius); }
%shadow {
	@include box-shadow(0 1px 3px fade-out($black, 0.8)); }
%left {
	float: left; }
%right {
	float: right; }

// hiding
// ---------------------------
.hidden {
	display: none;
	visibility: hidden; }
%screenreaders {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

// resets
// ---------------------------
%no-outline {
	outline: none; }
%input-reset {
	@include appearance(none); }
%no-list-style {
	list-style: none; }

// margins and paddings
// ---------------------------
%centre {
	margin: auto; }
%no-mp {
	margin: 0;
	padding: 0; }

// colour use
// ---------------------------
%primary {
	color: $primary; }
%secondary {
	color: $secondary; }
%tertiary {
	color: $tertiary; }

// font size
// ---------------------------
%base {
	font-size: em($base-font-size, 16px); }

// mixins
// ---------------------------

// set width and height,
// pass one value to have both set for you
@mixin wh($width: false, $height: false) {
	$width: unquote($width);
	@if $height != none {
		$height: unquote($height); }

	@if $height != false {
		width: #{$width};
		height: #{$height}; }
	@else {
		width: #{$width};
		height: #{$width}; } }

// colour functions
// ---------------------------

// Taken from: https://github.com/imathis/nice-buttons
// Returns true if the color is brighter than 50% lightness
@function is-bright($color) {
	@return (lightness($color) > 50%); }

// Picks the color with the highest contrast
@function if-bright($color, $light: true, $dark: false) {
	@return if(is-bright($color), $light, $dark); }

// Picks the color with the highest contrast
@function text-contrast($bg, $dark-text: #666, $light-text: rgba($text-color, .9)) {
	@return if-bright($bg, $dark-text, $light-text); }