.modal {
	h1, h2, h3 {
		font-size: 100%;
		margin-top: 0;
		padding: 12px;
		color: fade-out(#fff, 0.1);
		@include border-radius(3px);
		@extend .notice;
		@include notice($warning, #fff, darken($warning, 20%), $text_align: center); }
	background: #fff;
	background: fade-out($white, 0.05);
	padding: 12px;
	@extend .rounded;
	@include box-shadow(0 1px 3px fade-out($black, 0.4), inset 0 0 0 2px #fff);
	width: 50%;
	left: 25%;
}
.overlay {
	@include background(radial-gradient(fade-out(hsl(30, 20%, 20%), 0.8), fade-out(hsl(30, 20%, 20%), 0.4)));
	padding: 20px;
	position: relative;
	top:0; bottom: 0; left:0; right:0;
	.no-cssgradients {
		background: #000;
		background: fade-out($black, 0.6); }
}

:target {
	top: -500px;
	-webkit-transition: top .25s cubic-bezier(0.75,1,.1,0);
}