// Modals
// ---------------------------

@mixin modal(
	$bg: #fff,
	$padding: em($base-px),
	$width: 100%,
	$radius: $radius,
	$shadow: 0 1px 3px fade-out($black, 0.4),
	$shadow2: inset 0 0 0 2px darken(#fff, 2%)) ) {
	
	$shadow: compact($shadow, $shadow2);
	
	background: $bg;
	padding: $padding;
	
	@if $radius { 
		@include border-radius($radius); }
	@if $shadow {
		@include box-shadow($shadow); }
	
	width: #{$width};
	left: #{$width}/2;
}