// 	----------------------------------------- 
//	Notices — A base, mixin and options
// 	-----------------------------------------

@mixin notice-base {
	font: 700 16px/1 $sans;
	width: 100%;
	margin: 0 0 $base-px;
	position: relative;
	@include padding;
	@include transition(none);
	@include inline-block;
	@include background-clip(padding-box); }

@mixin notice(
	$main-colour: $default,
	$text-colour: $default-text,
	$text-shadow: $default-text-shadow,
	$radius: 3px,
	$subtle: false,
	$text-align: left,
	$size: "normal",
	$icon: false,
	$shadow: true ) {
	
	@if $subtle == false {
		@include background(
			linear-gradient(
				top, lighten($main-colour, 3%) 35%,
				$main-colour 70%, darken($main-colour, 1%) 100%) );
		@include box-shadow(
			inset 0 1px 0 fade-out($white, 0.7), 
			0 1px 3px fade-out($black, 0.9));
		border: 1px solid darken(desaturate($main-colour, 10%), 10%);
		color: lighten($text-colour, 20%);
		text-shadow: 0 1px 1px $text-shadow;
		// if we want a shadow default true
		@if $shadow != false {
			@include box-shadow(
				inset 0 1px 2px -1px fade-out($white, 0.1),
				inset 0 -10px 10px -5px fade-out($black, 0.95),
				inset 0 -1px 0 fade-out($black, 0.95),
				0 1px 2px fade-out($black, 0.8) ); } }
	@else {
		background: none;
		background: fade-out($black, 0.99);
		color: $default-text;
		border: none;
		text-shadow: none;
		border: 1px solid fade-out($black, 0.95); }

	@include border-radius($radius);
	text-align: $text-align;
	@if $size == "big" {
		padding: 18px; }
	@elseif $size == "small" {
		padding: 6px; }
	@else {
		padding: 12px; }
	// is there an icon?
	@if $icon != false {
		@if $size == "big" {
			padding-left: 44px; }
		@elseif $size == "small" {
			padding-left: 16px; }
		@else {
			padding-left: 32px; }
		&:before {
			content: $icon;
			display: inline-block;
			position: absolute;
			margin: 0 $base-px/2 0 0;
			padding: 0 $base-px/2 0 0;
			@if $size == "big" {
				font: 32px/1 $pictos;
				left: $base-px/2;
				top: $base-px/2; }
			@elseif $size == "small" {
				font: 16px/1 $pictos;
				left: $base-px/2;
				top: 8px; }
			@else {
				font: 24px/1 $pictos;
				left: $base-px/2;
				top: 11px; } }
	}

}